[2015-04-24 11:16] jgwhite opened #1 "SortableItemMixin"
From @rlivsey:

[2015-04-24 11:57] #1 closed

[2015-04-24 14:47] jgwhite opened #2 "Support for vendor-prefixed transitions/transforms/events"

[2015-04-24 14:50] jgwhite opened #3 "Suggest position: relative in console when offsetParent is position: static"

[2015-04-24 14:51] jgwhite opened #4 "Unit Tests!"

[2015-04-24 14:52] jgwhite opened #5 "CI!"

[2015-04-24 14:54] jgwhite opened #6 "Package up `reorder` test helper"

[2015-04-24 15:04] jgwhite opened #7 "Don’t rely on originalEvent"

[2015-04-24 15:08] jgwhite opened #8 "Make root listener configurable somehow"

[2015-04-26 14:18] #5 closed

[2015-04-26 15:18] #7 closed

[2015-04-26 15:30] jgwhite commented on #2
Closing because:

- jQuery normalizes getting/setting `transform`.
- The only other vendor-prefix sensitive bit is `transitionend`.
- Support for non-prefixed `transitionend` seems good amongst evergreens and IE10+.

Rather than aim for broad edge-case support, better to specify minimum browser requirements.

[2015-04-26 15:31] jgwhite opened #9 "Explicitly document minimum browser requirements"
In terms of feature support and specific browser versions.

[2015-04-26 15:31] #4 closed

[2015-04-26 15:32] jgwhite opened #10 "Acceptance Tests"

[2015-04-26 15:57] jgwhite commented on #3
On second thoughts, this is pretty noisy. Perhaps better for sortable-group to document clearly.

[2015-04-26 15:57] #3 closed

[2015-04-26 16:02] #9 closed

[2015-04-26 16:03] jgwhite commented on #2
Had a change of heart. Should strive to support vendor-prefixed `transitionend` where possible.

[2015-04-26 21:14] jgwhite opened #11 "Document styling principles"

[2015-04-27 07:06] #11 closed

[2015-04-27 12:53] jgwhite opened #12 "Allow sortable-group to have blank tagName"

[2015-04-28 11:36] jmurphyau opened #13 "Unable to select text"
Whenever you try an select text it starts the dragging rather than selects the text

[2015-04-28 12:37] jgwhite commented on #13
My thought for this is to allow `sortable-item` to take a `handle` property that specifies the element to use as a drag handle.

[2015-04-28 12:37] #10 closed

[2015-04-28 12:38] jgwhite opened #14 "Handle property"
Will help with #13

[2015-04-28 13:37] #13 closed

[2015-04-28 13:37] #14 closed

[2015-04-28 13:59] jgwhite commented on #13
@jmurphyau just publishes `v1.0.0-alpha.8` which adds the `handle` capability.

[2015-04-29 06:56] #2 closed

[2015-05-03 09:19] jgwhite opened #17 "Ensure wait for transitionend is recognised by ember-testing"

[2015-05-03 16:16] #17 closed

[2015-05-06 14:53] zeppelin opened #19 "Replace `model.items` example with just `model`"
It seems to me that the only reason why `model.item` is used in the examples, is because `this.set('currentModel', anArray);` doesn't trigger a property change. But since Ember has a special syntax for dealing with arrays, I'd consider updating the examples to the following, if you feel it's not that confusing:

[code]

I can submit the PR if you're in favor.

[2015-05-06 15:20] jgwhite commented on #19
You’re right. It was partly to get around the problem of `this.set('currentModel', newOrder)` being problematic and partly because `{{#each model.items as |item|}}` seemed a touch more obvious.

This trick is very cool:

[code]

I had no idea you could do that!

My only concern is it might be a bit *too* magic and thus distracting. This version is equivalent but not as fun:

[code]

I’d still be w

[2015-05-06 15:36] zeppelin commented on #19
Wow, totally forgot about `setObjects`!

Actually, I only submitted an issue instead of a PR, because it's been quite a while since I was explaining Ember to a newcomer - therefore I have no idea what is considered to be confusing - and would wanted to rely on your opinion :D

That said, `setObjects` is IMO much better than `.[]`, because people can google it quickly and read the explanation in th

[2015-05-06 15:38] jgwhite commented on #19
Haha. I really like the suggestion (and learned something cool from it) but I think let’s leave it as-is for now.

[2015-05-06 15:44] zeppelin commented on #19
Sure thing, it was only a suggestion because for me it was confusing for the opposite reason: I couldn't figure out for the first glance if the data structure has to be as it is written in the example.

But you may certainly be right, and it's best if these intricacies of Ember is left to each person to explore.

[2015-05-06 15:44] #19 closed

[2015-05-06 15:47] jgwhite commented on #19
Yeah, it’s tricky. The point I wanted to make was “you do whatever you like with the new array” but inevitably whatever we put in the example ends up looking prescriptive :confused:

Maybe a really deliberate comment would be better…

[2015-05-06 15:51] zeppelin commented on #19
Yeah, I was also thinking about adding a comment, but that would mean explaining how *Ember* itself works, and I felt that's out of scope.

[2015-05-06 18:21] jgwhite opened #20 "Glimmer compatibility"
Previously we could count on Ember simply replacing all elements when the collection changes. Glimmer’s element re-use demands a new approach.

Concerns:

- [x] Strip transforms
- [x] Clear cached `_y`
- [x] Somehow avoid weird transitions

[2015-05-06 18:31] jgwhite commented on #20
![glimmer-sortable-3](https://cloud.githubusercontent.com/assets/34030/7500602/807b3fe6-f426-11e4-9128-2b904431b156.gif)

[2015-05-07 08:26] jgwhite opened #22 "Group model?"
[code]

[code]

[2015-05-11 08:06] jgwhite commented on #20
Closed by #21

[2015-05-11 08:06] #20 closed

[2015-05-11 14:42] jgwhite opened #23 "New actions support"

[2015-05-11 17:07] OpakAlex opened #24 "Please, write normal readme with working examples."

[2015-05-11 17:21] OpakAlex opened #25 "How about horizontally sort?"

[2015-05-11 20:40] jgwhite commented on #25
Yup, absolutely. Probably in 1.1.0.

[2015-05-11 20:41] jgwhite commented on #24
Could you elaborate?

[2015-05-11 20:41] jgwhite opened #26 "Horizontal sort"

[2015-05-11 20:43] OpakAlex commented on #25
@jgwhite maybe you need help?

[2015-05-11 20:43] jgwhite commented on #24
The [Usage](https://github.com/jgwhite/ember-sortable#usage) section of the readme provides example code that mirrors that driving the example page.

[2015-05-11 20:44] jgwhite commented on #25
@OpakAlex absolutely. Pull requests most certainly welcome :)

[2015-05-11 20:45] jgwhite commented on #25
I have an opened an issue to track this feature: #26

[2015-05-11 20:45] OpakAlex commented on #24
yes, but you need show more about items :) Because i see in code `items`, so put message this is your sorted collection :)

[2015-05-11 20:46] OpakAlex commented on #25
:) ok, i will see.

[2015-05-11 20:47] jgwhite commented on #24
Do you mean more explanation of where `model.items` comes from?

[2015-05-11 20:47] OpakAlex commented on #24
yes.

[2015-05-11 20:47] jgwhite commented on #24
Good idea. Thanks!

[2015-05-11 20:47] OpakAlex commented on #24
thank you!

[2015-05-11 20:51] #24 closed

[2015-05-11 21:27] #25 closed

[2015-05-14 22:07] ujamer opened #27 "Supported Nested groups"
Hi!
  In my use case I have a sortable set nested inside another array of objects. Something like:

[code]

In the current code, I cannot specify which group the `reorderItems` action handler should target, since only the `newOrder` array is given.

Could we modify the `sortable-group` component to accept an additional `source` variable, so that the `reorderItems` know which group it is suppose to

[2015-05-14 22:22] rsaccon commented on #27
+1
I also have such a use case

[2015-05-15 09:47] jgwhite commented on #27
I’ve been considering adding a `model` attr to `sortable-group` as proposed in #22. Would that suit your needs?

[2015-05-15 10:26] rsaccon commented on #27
I think so

[2015-05-15 10:32] jgwhite commented on #27
@rsaccon cool. I’m hoping to put a bit of time into this soon but if anyone would like to give it a try first, I would welcome a pull request :smile:

[2015-05-15 22:15] ujamer commented on #27
Sure. I've opened a pull request #28.

[2015-05-18 07:20] jgwhite commented on #27
Closed by #28

[2015-05-18 07:20] #27 closed

[2015-05-18 07:21] jgwhite commented on #22
Closed by #28

[2015-05-18 07:21] #22 closed

[2015-06-01 15:19] jgwhite commented on #26
Under active development in #29

[2015-06-11 14:52] rsaccon opened #33 "Smart scrolling"
long lists, which are not all visible, cannot be sorted with ember-sortable. Do you plan to addapt a smart scrolling approach like done in https://github.com/RubaXa/Sortable ?

demo:

http://jsbin.com/kohamakiwi/1/edit?html,js,output

[2015-06-11 15:44] jgwhite commented on #33
Thanks for raising this. It’s something ember-sortable definitely needs. PRs welcome, as always :smile:

[2015-06-26 13:02] zeppelin commented on #33
+1 for this, might dig in if my (rather tight) schedule allows to do so.

[2015-06-26 13:03] jgwhite commented on #33
@zeppelin awesome, please do. My schedule is also proving hard to navigate at the moment.

[2015-07-06 18:23] jgwhite opened #36 "Update to latest addon blueprint"

[2015-07-07 12:35] jgwhite commented on #26
Completed in #29

[2015-07-07 12:35] #26 closed

[2015-07-07 12:37] jgwhite opened #37 "Make horiztonal sorting deal with line wrapping"

[2015-07-11 06:52] denzo opened #38 "Add ability to move and sort between lists"
I couldn't figure out how to move and sort between lists.

[2015-07-12 16:28] jgwhite commented on #38
ember-sortable doesn’t have this capability yet. @rlivsey has done some work in this area. We want the API to be simple and fit with the data-down-actions-up ethos. API proposals very very welcome :D

[2015-07-15 14:33] rlivsey commented on #38
I've not done any work on this yet, but will need this functionality soon so I'll make a start if no-one else gets there first!

Thinking out loud here…

One API could be to simply call `onChange` on both lists with the new sets.

One downside to that is that you have to infer that a move has happened by comparing the current lists to the new ones.

An alternative API would be to add a couple of n

[2015-07-15 15:20] jgwhite commented on #38
As a starting point, I think groups should probably be nestable:

[code]

[code]

[2015-07-15 15:41] rlivsey commented on #38
@jgwhite I like that. It would certainly work for my personal use-case.

Maybe dragging within one list would call the `onChange` of that list, but dragging between lists would call `onChange` of the parent group?

Will think about this some more…

[2015-07-15 15:53] jgwhite commented on #38
I’m not sure what the parent’s `onChange` would send. Need to sketch out some use cases.

For child list `onChange` actions, I’m thinking in this case:

[code]

When you move an item from one list to the other, the two `onChange` handlers `updateListA` and `updateListB` would be invoked in the same run loop queue, receiving their respective new arrays.

Ideally the logic in an `onChange` handler s

[2015-07-15 16:11] rlivsey commented on #38
Agreed, maybe the parent doesn't need an `onChange` at all.

In which case, does it make sense for that to maybe be a different component entirely?

[2015-07-15 16:19] jgwhite commented on #38
@rlivsey perhaps, yeah.

[code]

[2015-07-21 16:06] rlivsey opened #41 "Hooks should call _super"
Just ran into an issue where my own code didn't call `_super` on `didInsertElement` which stopped ember-sortable working, but the opposite could also happen (depending on mixin inclusion order).

`didInsertElement` etc should call `this._super()` once they've done their thing so we can pass the baton along.

[2015-07-24 01:48] denzo commented on #41
Could this be fixed with using 'didInsertElement' event as oppose to overriding didInsertElement method.

Instead of doing this

[code]

Do this

[code]

[2015-07-27 08:31] jgwhite commented on #41
Very good points. Stef has advocated overriding `didInsertElement` in addons over using the hook. I think we’ll go with that approach. I don’t remember the specifics of the argument but can probably find a link to the conversation if anyone’s interested.

[2015-07-27 08:42] #41 closed

[2015-07-27 18:25] rlivsey commented on #38
Might have a chance to take a look at this tomorrow, just doing some more thinking out loud.

Should you have to drag an item over another list, or within some minimum distance, for it to be considered moved?

Eg consider two lists with 500px vertical space between them, if you drag an item from the bottom list ~300px upwards (so it's still ~200px below the top list) is that considered to now be p

[2015-07-27 23:58] denzo commented on #38
I believe an item should be dragged over another list. I think https://jqueryui.com/sortable/#connect-lists has pretty solid functionality.

Also, just thinking out loud. In regards to wrapping sortable-group in sortable-manager, could that potentially be moved into a service ?

Consider the following scenario. Four lists on a page. The items can be moved between the lists 1 and 2. Items from list

[2015-07-28 08:33] jgwhite commented on #38
@denzo I definitely like the idea of a separate logical service determining jumps between lists. Could you sketch out what all this might look like in action?

[2015-07-29 08:19] jgwhite commented on #33
Part of the groundwork for this is being laid in #39

[2015-07-30 15:14] ForSpareParts opened #43 "Table rows move incorrectly when sorting"
When a `sortable-group` contains `<tr>` elements as its `sortable-item`s, dragging an item to sort results in the rest of the table rows being pushed much further down the height of the table than is expected. The magnitude of the effect seems to derive from the position of the table on the page -- in a real page, where the table was further down, the rows were pushed so far out that they were not

[2015-07-30 15:17] ForSpareParts commented on #43
Repro: https://github.com/ForSpareParts/ember-sortable-43-repro

[2015-07-30 18:00] jgwhite commented on #43
Thanks for reporting. I’ll look into this as soon as I can. If you find the source of the bug, PRs are very much appreciated :smile:

[2015-07-30 18:52] jgwhite commented on #43
Okay, couple thoughts so far:

1. `sortable-group$_getFirstItemPosition` needs work. Seems like it could be as simple as:

[code]

   I forget the exact history of this method. There must have been a rationale for using a stooge.

2. The above gets us part way there but we still need to find a way to account for `border-collapse: separate` and `cell-spacing` in `sortable-item$width` and `sortable-

[2015-07-30 20:47] jgwhite commented on #43
#45 begins to address this problem.

[2015-07-30 20:51] #36 closed

[2015-07-30 21:10] raycohen opened #46 "remove this line from the readme"
You're doing the right thing&trade;.  Don't ask people to tell you otherwise ;)

    While it would be technically possible to automatically discover the parent group, we feel establishing this relationship explicitly is clearer. Feedback welcome.

[2015-07-31 07:18] #46 closed

[2015-08-03 08:03] jgwhite commented on #43
@ForSpareParts [1.4.0](https://github.com/jgwhite/ember-sortable/releases/tag/v1.4.0) is out. This should improve table sorting. There may still be work to do. Let me know how you get on.

[2015-08-03 08:03] #43 closed

[2015-08-04 07:47] mehulkar opened #50 "onChange fires onClick"
it looks like when i click an element, it also fires the onChange action. i'm guessing this also reinserts the element? i'm yielding a component templet inside the sortable items and they lose their state onChange. So they're also losing their state

[2015-08-04 08:58] jgwhite commented on #50
This can be counteracted today by declaring a `handle`.

I’d be open to a PR that suppress `onChange` unless the order actually changes. It’ll add complexity but sounds valuable.

[2015-08-04 16:59] mehulkar commented on #50
I have a `handle` defined, just FYI.

I'll think about how to do implement, but honestly, more likely I'll end up changing my design to _not_ have an "expand" button in each element that needs to be maintained. Super spike project and this library got me 80% of the way, so I'm satisfied for now. (Feel free to close this, if you don't think the additional complexity is a huge win)

[2015-08-05 21:23] jgwhite commented on #50
@mehulkar I’ll keep this open. I think it’s something we probably *should* account for.

[2015-08-08 04:09] denzo commented on #38
Apologies for the delayed response.

I have spent a few days understanding how the whole thing works. I must say @jgwhite has done an amazing job of putting together such a robust library.

I finally wrapped my head around it. I have forked this repo and created a working prototype. I have introduced sortable-manager service and moved some code around trying to focus on responsibilities of each cl

[2015-08-09 13:10] opsb commented on #50
@jgwhite Vice versa when you drag an item the click event fires... there doesn't appear to be an easy way to tease the two apart. jquery-ui-sortable takes the approach of only initiating a drag if the mouse is moved after the mousedown. It prevents the click after a successful drag by adding a listener to catch the next click.

[2015-08-09 17:43] opsb opened #52 "Can't sort items of different sizes"
The maths for the positioning currently assumes that the items all have the same dimensions. I haven't dug into the positioning code yet but I suspect this is going to be tricky...

[2015-08-09 18:07] opsb commented on #52
Hmm, I see the height is calculated based on the element, I'll have to dig in and see what's throwing the positioning off in my app.

[2015-08-10 03:41] jgwhite commented on #52
Thanks for reporting. It's possible there are combinations of styles we haven't properly accounted for yet. Let us know what you find out.

[2015-08-10 16:18] jgwhite commented on #50
Closed by #51

[2015-08-10 16:18] #50 closed

[2015-08-10 16:23] jgwhite commented on #38
Thanks @denzo. I’ll take a look as soon as I can.

[2015-08-12 07:29] jgwhite commented on #52
@opsb any luck identifying the problem here?

[2015-08-12 16:37] opsb commented on #52
@jgwhite other things have taken priority unfortunately, will get back to this at some point though.

[2015-08-18 17:42] workmanw commented on #38
:+1: This would be really great.

[2015-08-24 08:09] Cryrivers commented on #37
when is it going to be able to horizontally sort with line wrapping?

[2015-08-24 14:47] jgwhite commented on #37
@Cryrivers I don’t currently have time to tackle this.
@igorrKurr — do you have any ideas on this one?

[2015-08-24 20:54] opsb commented on #38
@denzo it would be great to get this merged in, how far along is your fork? Does it need a little more work or is it ready to merge in? I'm pretty short on time this week but I might have some time to look at it over the weekend.

[2015-08-25 03:21] mehulkar opened #54 "emit mouseDown event"
In a long-ish list, when re-ordering, I want to zoom out the UI (apply a CSS transform to shrink all the elements).
This will allow the user to easily drag and drop elements a large number of elements away.
I think I could do this if we had a mouseDown event and i could do custom stuff from it.

What do you think? I think it would mean exposing another handle like `onChange`.

[2015-08-25 06:08] denzo commented on #38
I have a working version https://github.com/denzo/ember-sortable so feel free to dig through. Run the demo (ember server) to see the behaviour.
* I'm away for the next couple of weeks and a limited access to the Internetz

[2015-08-25 10:41] jgwhite commented on #38
Thanks again @denzo. I’m desperately short on time right now but super keen to look it over.

[2015-08-25 10:43] jgwhite commented on #54
Seems reasonable to me. The UI you describe sounds cool. I wonder if the hook you’re after is something like `prepare` or `before-sort` or `will-sort` — something that can return a promise so can defer sorting until animation is complete.

[2015-08-25 17:17] mehulkar commented on #54
hmm. maybe I'm just unfamiliar with how the code is written, but I would have assumed that the "sorting" part is triggered when the element is dropped, no? In my head, I'm seeing it like this:

1. mouseDown
1. custom hook
1. dragEvent
1. dropEvent
1. onChange
1. custom hook

Soemthing like `will-sort` seems like it would fit in after `dropEvent` or after `onChange`.
I'm looking for something after

[2015-08-25 17:21] jgwhite commented on #54
I think you’re right that `will-sort` implies completing the sort.

Could you sketch out how you’d use this if it were implemented as `mouseDown`?

[2015-08-25 17:22] jgwhite commented on #54
Mainly I’m curious as to what component will receive the action in this particular example.

[2015-08-26 09:56] igorrKurr commented on #37
@jgwhite as for me i also don't have enough time to fix it now, sorry. But if @Cryrivers can give me kind of example of desired layout maybe i will be able to make some quick solution for it.

[2015-08-26 20:49] ksnyde opened #55 "Mobile sorting is not working"
Sorting worked fine on mobile browsers in the past but the latest version appears to have broken the mobile/touch events. It works fine on desktop but no activities at all on mobile.

[2015-08-26 20:52] #55 closed

[2015-08-31 11:06] TNAJanssen commented on #38
+1 what is the time line on this?

[2015-08-31 11:24] opsb commented on #38
Depending on what you need there's still a little work left to do on @denzo's banch. I need scrollable lists which unfortunately makes things more complicated. If a div is scrollable then you can't drag outside unless the element you're dragging has position: fixed. I've had a play with that scenario, it's awkward because you need to use different co-ordinate systems, one relative to the list, ano

[2015-08-31 19:39] mehulkar commented on #54
I just looked through the code a little bit and it looks like the `onChange` event is fired in sortable-group in the `commit` function. I think `mouseDown` could be fired in the `prepare` function? A quick spike validated that I was able to send the action pretty easily!

[2015-09-01 04:08] jgwhite commented on #54
@mehulkar I would still like to explore to possibility of giving this action a more specific name. Three reasons:

1. It could be a `touchstart` that triggers it
2. We’re cancelling the real `mousedown` with `preventDefault`
3. This may open the door to exposing many other DOM events as actions

It might not be a problem to overload `mousedown` with our synthetic version but I’d like to explore ot

[2015-09-01 04:41] mehulkar commented on #54
One thing that's tripping me up looking at the code is that I don't
understand what the sortable groups are for. Could you talk about a use
case for that?

On Monday, August 31, 2015, Jamie White <notifications@github.com> wrote:

--

------
Mehul Kar
@mehulkar

[2015-09-01 07:58] jgwhite commented on #54
`sortable-group` has n jobs:

1. Listen out for updates from the item being dragged
2. Put other items in position when dragging occurs
3. Collect up models from items to send in the `commit` action

Items should are not aware of each other — they are self-absorbed by design. `sortable-group` facilitates this.

[2015-09-01 19:43] mehulkar commented on #54
what's the purpose of binding a model to the `sortable-group`? From the README, the only value of binding a model to the `sortable-group` is that this "group model" is included in the arguments passed to the `onChange` action, _in addition_ to the itemModels array.

Aren't the `itemModels` going to be the same as the `groupModel` in a typical scenario?

[2015-09-01 20:44] opsb commented on #38
I've now got a fork from @denzo's work at https://github.com/lytbulb/ember-sortable/commits/master which adds a couple of extra features that I need with multiple lists. Notably I've added support for scrollable lists, IE9+ and dropzones. If anyone wants to have a play it's functional and the couple of remaining glitches should be fixed this week. After that we're going to have somehow bring both

[2015-09-01 20:45] jgwhite commented on #54
@mehulkar the group model was added in #28. Typically it is the array you’re sorting, while the item models are the things in the array.

[2015-09-01 20:48] jgwhite commented on #38
Hey folks. Thanks all for looking into this. If anyone fancies making a PR, it’d make reviewing the changes easier.

[2015-09-01 22:00] opsb commented on #38
There's a couple of wrinkles I want to iron before I start looking at a PR. Rebasing is also going to be fairly involved, @denzo forked off at 1.4.

[2015-09-01 22:01] opsb commented on #38
It's also a spare-time only project for me so the timeline is a little difficult to call.

[2015-09-02 06:00] jgwhite commented on #38
@opsb totally understand — this is spare-time only for me too :)

[2015-09-02 06:14] jgwhite commented on #54
Here’s a fleshed out example:

[code]

[code]

[2015-09-02 13:29] yanzixiang opened #59 "itemModels, draggedModel got null HELP!!!"
[code]
[code]

itemModels, draggedModel got null,
And I can NOT get an new Order.
Please HELP :alarm_clock:

[2015-09-03 09:23] TNAJanssen commented on #38
@opsb @jgwhite if you guys need help please tell me what i can do!

[2015-09-03 11:10] jgwhite commented on #38
@TNAJanssen thanks. Essentially formualting the great work @denzo and @opsb have been doing into a PR. I really want to extract the goodness but really struggling to make time.

[2015-09-03 12:05] jgwhite commented on #59
Hi @yanzixiang

Sorry for the slow reply. Feel free to come find me on [emberjs.slack.com](https://emberjs.slack.com/) for a faster response in future.

There appears to be a typo in your template:

[code]

[2015-09-03 15:25] yanzixiang commented on #59
OHHHHHHHH
I'M SO STUPID!!!!
THANKS.....

[2015-09-03 15:25] #59 closed

[2015-09-03 15:53] opsb commented on #38
@TNAJanssen @jgwhite I've still got a list of about 5 outstanding bugs that I need to take care of before it's ready to go. I'm going to try and get those finished up over the weekend so the branch is fully functional. I'll also reduce the history down a bit so that a rebase is more manageable. I think that's the point when some help would be useful. If you could pick it up and rebase it against m

[2015-09-04 07:06] jgwhite commented on #52
@opsb I’m going to close this for now but feel free to re-open if appropriate.

[2015-09-04 07:06] #52 closed

[2015-09-04 15:14] opsb commented on #52
@jgwhite thanks, I've taken care of this in the work I'm doing for the multiple lists issue.

[2015-09-04 18:24] #54 closed

[2015-10-14 15:36] jgadbois opened #62 "Allow form fields within sortable"
I have a sortable with form fields.  If I don't specify a handle, the component doesn't allow me to focus into any of the form fields.

[2015-10-19 14:47] jgwhite commented on #62
Hey sorry for the slow response — I’ve been on holiday :)

The tricky thing with this is that there are many elements which should short-circuit the sortable behaviour and it’s tricky to nail down a general rule without introducing complexity.

In these cases I tend to add a handle that is absolutely positioned, width 100% height 100%, and behind all other elements.

[2015-10-20 13:16] jgadbois commented on #62
Ok that should work, thanks.

[2015-10-20 13:16] #62 closed

[2015-10-22 15:08] jgadbois opened #63 "Disable on right click"
Right click currently starts drag.  I'm constantly hitting it when I try to inspect element in Chrome.

[2015-10-22 15:51] jgwhite commented on #63
:+1:

I’m

[2015-10-22 15:52] jgwhite commented on #63
Sorry — clicked the wrong button!

Agreed this should be built-in.

[2015-10-22 17:02] #63 closed

[2015-10-22 17:21] jgwhite commented on #63
1.6.2 is published with the fix. Thanks for the issue!

[2015-10-23 10:35] rlivsey commented on #38
Anything I can do to help push this over the finish line? I can put aside some time next week.

[2015-10-23 14:10] opsb commented on #38
@rlivsey sadly I'm not sure how salvageable this is. Master has moved forwards a fair bit and my work is forked from @denzo's fork which makes it difficult to integrate... I think someone is going to have to take a fresh crack it, I've already got my evenings/weekend time committed elsewhere so I won't have a chance to look at it. I'm very happy to get on a call with someone though and give them s

[2015-10-23 14:33] jgwhite commented on #38
@opsb thanks for your efforts. I’d be open to having a call next month some time. @rlivsey have been discussing possible next-generation APIs and I think the sorting-between-lists case should drive those conversations.

[2015-11-03 17:44] Glavin001 commented on #33
I also want this feature. Anything I can do to contribute? I may need some initial guidance as to where to look and some pointers as to what the code should be doing.

When I have a chance, I am going to look through the ember-sortable code and learn more about how it works, and then take a look at  https://github.com/RubaXa/Sortable and see how they got it working.

Any advise would be greatly ap

[2015-11-04 11:09] AndyPyeSC opened #68 "Actions in components contained in sortable-item do not always work"
I'm having intermittent problems with actions when I'm using a sortable list. I have a list of items, each rendered with a component. That component has a "delete" action on it, activated by clicking the 'x' next to the item name.

The following code should give an idea what I'm talking about.

    {{!-- templates/items.hbs --}}
    {{#sortable-group onChange="itemsReordered" as |group|}}
      {{

[2015-11-04 11:32] jgwhite commented on #68
Thanks for the detailed report.

The solution you’ve gone with _is_ what I’d recommend. I do agree, however, that it should work out of the box. There is some code in ember-sortable to ignore clicks that don’t become drags but evidently it’s not working 100% of the time.

I think the best course of action will be to add an example of this to the demo page and an acceptance test to go with it.

[2015-11-04 11:34] jgwhite commented on #33
@Glavin001 we would love a PR to implement this behaviour. You’ll probably want to add the logic to `addon/mixins/sortable-item` and have it kick into life when dragging begins. I think the trickiest part will be identifying _which_ element ought be scrolled.

[2015-11-04 12:09] AndyPyeSC commented on #68
The strange thing is that it _did_ seem to be working straight out of the box. It's a tricky one to test because it's intermittent.

I won't be able to add the example for a while since we're at the beginning of a hectic patch :-(

[2015-11-04 16:52] jgwhite commented on #68
@AndyPyeSC no problem. Thanks for the detailed. Should provide the basis for a test case.

[2015-11-04 18:07] Zensavona opened #69 "Nested .handle doesn't work as expected"
Hi, I'm having some issues with getting `.handle` to work given the following layout (emblem):

[code]

What's happening is that I can drag the items, but they don't move out of the way for each other or reorder, e.g. if I have two elements and i drag the bottom one up, the top one doesn't move at all.

I did some experimentation and have found that a lot of the time a `<span class="handle">` is n

[2015-11-04 22:13] jgwhite commented on #69
Certainly sounds like a bug. I’m not sure when I’ll get a chance to look at this, but it would help tremendously if you could submit a PR that adds an example of this behaviour to the [demos page](https://github.com/jgwhite/ember-sortable/blob/master/tests/dummy/app/templates/application.hbs) :D

[2015-11-05 17:19] Zensavona commented on #69
Ok, so I tried reproducing it on your demo page and couldn't, so I decided to see what happens if I remove all the styling (css classes) from my markup and see if the bug goes away - sure enough it did, so I progressively readded it all until I found the culprit - it was the `col-md-12` inside the `sortable-item` in my code above. No idea why this was breaking the behaviour whenever the handle was

[2015-11-05 17:19] #69 closed

[2015-11-05 20:55] woodland021 opened #70 "Uncaught TypeError: Cannot read property 'css' of undefined"
Hey guys,

I just implemented ember sortable successfully but when I go about and drag an item ontop of the next item and drop it I get this in my console: Uncaught TypeError: Cannot read property 'css' of undefined

And then it immediately takes me to my homepage of my app..

Is this a bug? Or am I implementing it wrong?

Thanks,

Ethan

[2015-11-05 21:35] jgwhite commented on #70
Hi Ethan

Thanks for using the addon :)

Could you post some of the template and component code? It sounds like it may be a documentation issue.

[2015-11-05 21:37] woodland021 commented on #70
jgwhite,

Thanks for the response :)

Here's my template file: https://gist.github.com/woodland021/d2163335a7fd4e8255e9

Here's my route file: https://gist.github.com/woodland021/93af832f2546fc2a1ef9

Also a friend called knownasilya tried to help me out by making his own build with my code and he said it works fine: https://github.com/knownasilya/sortable-test

Check those out and see if you can

[2015-11-05 21:53] jgwhite commented on #70
Hmm, I don't see a `reorderItems` action in your route. Is it defined elsewhere?

[2015-11-05 21:59] woodland021 commented on #70
jg,

Do you think that would be my problem? I haven't created it yet.

[2015-11-05 22:08] jgwhite commented on #70
Could you post the revised route? You'll definitely need a functioning action handler.

[2015-11-05 22:09] woodland021 commented on #70
import Ember from 'ember';

export default Ember.Route.extend({
  renderTemplate: function() {
    this.render();
    this.render('writings.Footerjs', { into: 'envisionboards.envisionboard', outlet: 'footer_js' });
  },
  model: function(params) {
    return Ember.RSVP.hash({ //need to change this later to one return of one model
      ebdatum: this.store.query('ebdatum', {eb_id: params.id}),

[2015-11-05 22:27] jgwhite commented on #70
Could you try:

[code]

[2015-11-05 22:29] woodland021 commented on #70
jg,

Still the same error... :/

Uncaught TypeError: Cannot read property 'css' of undefined

This error prints twice too.

These are the lines of code the error leads me to:

First Error: this.$().css({
          transform: 'translateY(' + dy + 'px)'
        });

Second Error: var property = el.css('transition-property');

Both say cannot read property 'css' of undefined..

I assume it has to do

[2015-11-05 22:50] jgwhite commented on #70
Would it be possible to get access to the codebase? I'd like to fire up the debugger and see exactly what's going on.

[2015-11-05 22:51] woodland021 commented on #70
jg,

Would you be down with a screenshare? I can't really give you access to this repo due to NDA reasons.

[2015-11-06 01:55] woodland021 commented on #70
jg,

got it working! :)

[2015-11-06 01:55] #70 closed

[2015-11-06 05:08] jgwhite commented on #70
Oh awesome :D How did you fix it?

For the record: I am always down for a screenshare, timezones permitting.

[2015-11-06 09:31] jgwhite commented on #69
It’s useful to know this edge case is out there. Will keep eyes open for it.

[2015-11-10 22:03] woodland021 commented on #70
jg,

I went about and fixed it by actually doing a git reset on my repo haha.

Had no idea what the problem was. But works swimmingly now! Thanks!

[2015-11-16 13:40] Vazgen7788 opened #71 "After sorting the list too fast, whole list is flickering"
In demo when I drag the last element to the window top fast and leave it (faster than sorting animation) the list is jumping little than going back.

[2015-11-17 11:27] jgwhite commented on #71
Thanks for the report. Which browser?

[2015-11-18 10:20] Vazgen7788 commented on #71
Both in Google Chrome and Firefox

[2015-11-18 10:51] jgwhite commented on #71
On which OS? Any chance you could record a screencast? If it’s the effect I *think* you’re describing it’s very well difficult to code around.

[2015-11-18 11:56] Vazgen7788 commented on #71
On Mac is works correct but on Ubuntu and on Windows not correct... I will record a video and send you.

[2015-11-18 12:09] Vazgen7788 commented on #71
See Here https://drive.google.com/file/d/0B_RF9abla7pvLVRQdlo2eTNxQ2s/view?pli=1

[2015-11-18 12:46] jgwhite commented on #71
Thanks. This is due to the way Glimmer re-uses existing elements to make the minimal possible set of changes to the DOM. There is already [some code][1] in ember-sortable to counteract it and it boils to letting the DOM “settle” before restoring default CSS.

[1]: https://github.com/jgwhite/ember-sortable/blob/9bb90f3bb2b02183f35be2dd7acf2ebb17068d3e/addon/components/sortable-group.js#L129-L141

[2015-11-18 13:28] Vazgen7788 commented on #71
Do you plan to fix this? We are using your addon in our custom cms and actually we didn't found any viable alternative to this addon and it seems only issue with your addon is this one in our case, so we plan to stick  with you :)

[2015-11-18 13:56] jgwhite commented on #71
Yes, this will definitely be fixed. I can’t promise any timeline. If you or your team are interested in trying to submit a fix I’d be happy to help you get started.

[2015-11-21 01:44] lolmaus opened #72 "Limit drag area"
Thank you for the awesome addon!

It should be possible to prevent draggable items to be moved outside the specified area (typically the `sortable-group`).

[2015-11-22 21:07] jgwhite commented on #72
@lolmaus sounds reasonable. Do you mean that the element being dragged would refuse to move outside its bounding rectangle?

[2015-11-23 06:44] lolmaus commented on #72
Yes.

[2015-11-26 20:47] lolmaus commented on #38
Any news one month later?

[2015-11-26 20:59] jgwhite commented on #38
@lolmaus nothing to report so far. I'm personally struggling to find time to tackle any major features and also must admit that I don't actually *need* this particular one — though I'm sure I will on a future project.

Something that would be super helpful is for someone to add a nice complex example to the demo page so we all have a target in mind. Basically "I wish I could use ember-sortable exa

[2015-11-26 21:01] lolmaus commented on #38
This example represents exactly what I need: https://jqueryui.com/sortable/#connect-lists

[2015-11-27 09:14] jgwhite commented on #38
:+1:

[2015-12-16 18:35] koreiklein commented on #68
I'm encountering a similar problem, but totally reproducible.

I'm using this template:

[code]

To reproduce:

- Drag an item to PAST the top of the sortable group
- Release it there
- Wait for it to slide back to the position it used to be in.
- Click on the item you just dragged.

When I follow those steps, the action is never sent.  If I click it again, the action IS sent the second time, and

[2015-12-16 18:38] koreiklein commented on #68
Also of note, this issue interacts negatively with ember's link-to helper:

If I put a link-to helper inside the sortable-item, then these repro steps cause the entire page to refresh.

[2015-12-16 18:56] jgwhite commented on #68
Brilliant repro. Sounds like an event handler is not getting torn down correctly.

[2015-12-16 19:32] jgadbois opened #73 "Passing actions up from the items"
Each of my sortable items is a component and has actions I need to bubble up to the top-level controller (ie the controller for the template rendering the sortable group)

Is there a way to do this?

[2015-12-17 09:38] jgwhite commented on #73
There are a few different approaches. Could you post some example template code?

[2015-12-17 13:47] jgadbois commented on #73
[code]

The part in question is the `edit='edit'` in the inner portion.

I tried wrapping the whole thing in a `with this as |controller|` and making the action `'controller.edit'` but that didn't seem to work.

[2015-12-17 14:16] jgwhite commented on #73
As far as I can tell this should work as expected. The scope shouldn't change within any of these component blocks.

Which part of `workout-plan/workout-exercise` triggers the `edit` action?

[2015-12-17 15:18] jgadbois commented on #73
The `sendAction` inside the `workout-exercise` component gets triggered, but then it says nothing is handling the second `edit` (so component action does get triggered, but then controller action is not handled)

[2015-12-17 15:40] jgwhite commented on #73
Will investigate. Can I ask which version of Ember you’re running?

[2015-12-17 15:50] jgadbois commented on #73
[code]

[2015-12-17 16:10] jgwhite commented on #73
Thanks. I’ll see if I can put together a minimal reproduction.

[2015-12-17 16:19] jgadbois commented on #73
Thanks!

On Thu, Dec 17, 2015 at 11:11 AM, Jamie White <notifications@github.com>
wrote:

[2015-12-18 10:40] ianbale commented on #38
I have a closely related use case - currently implemented with jQuery sortable and jQuery draggable - but I'm having various problems with it which is why I went looking for an alternative and found your project...

I also need two lists. One contains my list of data items (main). This needs to be sortable. Then I have another list (pick list) from which I can drag into my main one. But, the diffe

[2015-12-18 11:20] jgwhite commented on #38
@ianbale that’s great information, many thanks. I must admit I’m at something of an impasse regarding this functionality. I’m not sure the existing API is quite right…

[2015-12-18 13:43] opsb commented on #38
@jgwhite I think the current implementation would really benefit from a render buffer. It's been a while since I looked at the code so this is in broad strokes.

From
https://github.com/jgwhite/ember-sortable/blob/master/addon/components/sortable-group.js#L70

    Prepare for sorting.
    Main purpose is to stash the current itemPosition so
    we don’t incur expensive re-layouts.
    @method prep

[2015-12-18 13:55] jgwhite commented on #38
Sounds y'all have some solid ideas for moving this forward. Who's up for a remote pair session in the new year?

[2015-12-18 14:13] opsb commented on #38
@jgwhite Let's see if we can something up. I'll also likely be over in zap towers at some point in jan so we could maybe do a session there.

[2015-12-18 14:15] jgwhite commented on #38
@opsb that'd be very awesome

[2015-12-18 19:37] shidel-dev opened #75 "Drag and drop within a grid."
Thank you for an awesome addon!

I would like to use ember-sortable in the context of a grid layout. Along the lines of this: https://greensock.com/?example=sortable-grid-using-draggable.

What are your thoughts on adding support for this sort of layout?

[2015-12-21 10:07] jgwhite commented on #75
Yes, we’d love for ember-sortable to support this sort of behaviour out of the box. However, in the greensock example there is a lot of extra grid-arrangement code at work. The question is: how can ember-sortable best interoperate with this type of arrangement logic?

[2015-12-22 11:58] ianbale commented on #38
Just a quick comment on the parent/child sortable idea. It would be better, if possible, to avoid having to nest the two lists you want to drag between inside a single tag. The reason being that there will be many use cases where one list will be contained within one component and the other within a second, maybe nested quite deeply within a complex application.

I am thinking of my case again...

[2015-12-22 12:20] ianbale opened #76 "visible drop-target"
It would be nice to have a visible drop-target rather than just open up a space. Depending on what's in your list, the space alone can be unclear at times. I'm thinking that we add an additional class "drop-target" onto the item before the space and style it with something like:

.sortable-item.drop-target:after
{
    content: " ";
    display: block;
    width : 100%;
    height : 50px;
    borde

[2015-12-22 14:44] jgadbois commented on #73
This is actually seems to be working fine without the `#with`.  I think my dev just made a syntax error or something, sorry about that.

[2015-12-22 14:44] #73 closed

[2015-12-22 15:33] jgwhite commented on #73
No need to apologise. No bug report is wasted!

[2015-12-23 16:37] jgwhite commented on #76
Hey sorry for the slow reply (holidays). The other items get their positions from the group: https://github.com/jgwhite/ember-sortable/blob/master/addon/components/sortable-group.js#L108

[2015-12-24 11:46] ianbale commented on #76
I've pretty much worked out how it all works. Always nice understanding someone else's code and discovering a way to do things that you'd not thought of yourself! Also a good exercise for me to understand how an ember add-on is constructed. Whilst I've done a fair bit of ember now (all very complex apps), I've not tried to create an add-on before.

I've got something 80% working now. Although I've

[2015-12-24 12:39] ianbale commented on #76
Fork here: https://github.com/ianbale/ember-sortable

Drop target working properly for vertical sorting. Horizontal messed up because it still has a fixed height/width for the drop-target rather than looking at the dragged item. Time to give up for the holidays though!

[2015-12-24 12:51] jgwhite commented on #76
Awesome progress! Thanks so much for working on this. I also need to take a break from GitHub for the holidays but let's get this formalised into a pull request once the festivities have wound up. :santa:

[2015-12-31 12:22] ianbale commented on #76
More updates checked into GIT. And a demo here: http://www.bale.net/ember-sortable/

The visible drop-target stuff is fully working now.

I've tried to make the new code neat, but to be honest it does need some tidying up now. My priority was to get something working quickly so I could carry on with the project I'm working on. I'll get back to it at some point and neaten it up - unless you decide

[2016-01-06 10:14] #71 closed

[2016-01-08 02:40] alexander-alvarez commented on #37
:+1: props on the great addon.

Related to this -- I was thinking of just making the sortable-group `overflow-x: auto` if the direction is 'x' so that you could reorder with things longer than the viewport?
[code]

I had to subclass `sortable-group` to get a css class that's conditional on vertical vs horizontal alignment, would have been nice if it were already there.
[code]

Then again I'm still

[2016-01-08 04:13] alexander-alvarez commented on #37
nvm I managed to mess around with the css to work without having to modify the sortable-group.

[2016-01-08 05:26] jgwhite commented on #37
@alexander-alvarez thanks for your kind words.

In principle I think this is a good idea but there's nothing stopping the consuming template adding an extra class to the sortable-group or parent element.

I.e.

[code]

Let me know if I've misunderstood your proposal.

Ultimately I want this addon to have the minimum possible impact on the resultant DOM. In other words: as far as possible, looking

[2016-01-08 06:53] alexander-alvarez commented on #37
Yeah I get that. I guess it was more of a convenience thing since there's only ever two directions for the sortable, so that one could apply consistent CSS styling to horizontal ones vs vertical. Nonetheless I managed to get the CSS to work by wrapping it a container.

For reference in case anyone wants to take this approach until multi-line gets figured out, the parent container has `overflow:aut

[2016-01-08 07:24] jgwhite commented on #37
@alexander-alvarez great points, thanks for your contribution :)

[2016-01-10 13:29] ianbale commented on #33
My fork is now considerably different to this original, but I just made the auto-scroll work by making a single change. Hopefully it'll work for you too...

In mixins/sortable-item/js, find _primeDrag and comment out event.preventDefault();

Leave event.stopPropagation(); in there though, otherwise as you drag it selects all the text that you drag over...

[2016-01-10 13:32] jgwhite commented on #33
Hey, sorry for the slow response. New year has been busy so far. Any chance you could formulate some of these awesome changes into a pull request?

[2016-01-11 00:55] superlou commented on #72
This would help me out, too.

[2016-01-11 09:34] ianbale commented on #33
Will do at some point... But I have a few bugs to iron out first. Plus, it really needs a tidy up now. I've kinda rushed things so that I can have something working for my project. It's a bit messy under the hood now...

[2016-01-22 18:47] osxi commented on #33
I have a component that basically contains a table and did something like this a few minutes ago using this as my `onDragStart` handler:

[code]

[2016-01-22 18:52] osxi commented on #33
I have a component that basically contains a table and have managed to implement this using the following as my `onDragStart` handler:

[code]

The `onDragStop` handler is simply:
[code]

I wouldn't say it's very smart but it does the job.

[2016-01-22 20:40] samselikoff opened #79 "Augmenting `transform`"
(Great lib!)

Is there a way to augment the `transform` property on the dragging element?

I was hoping to achieve [this effect](http://chenglou.me/react-motion/demos/demo8-draggable-list/) by using `transform: scale` on the dragging element, but the transforms added by this lib override it. As far as I know there's no way to stack transforms in CSS.

If not, perhaps I could think through an API a

[2016-01-24 03:28] srsgores opened #80 "Saving Order"
What is the recommended approach for saving order to `groupModel` in ember data?  How can we persist order to `groupModel` such that the order can be retrieved and displayed in the view as it was arranged?

My current implementation:

`deck.hbs`:

[code]

`routes/deck.js`:

[code]

In this case, I am suspecting that order is saved from within the structure of the payload json request sent with `sa

[2016-01-25 09:06] jgwhite commented on #33
@osxi thanks for this. I’m tempted to recommend that consumers of ember-sortable roll their own smart-scroll or compose with a smart-scroll component. What do you reckon?

[2016-01-25 09:07] jgwhite commented on #79
Sorry for the slow reply — was out of the country last week.

I’d be very open to a API proposal/PR for this :D

[2016-01-25 09:10] jgwhite commented on #80
This sounds more like an ember-data question than strictly a sortable one but it is a good question nonetheless.

In this case, are `slides` embedded onto the `deck` model?

Could you post an example of the JSON payload?

[2016-01-25 16:21] osxi commented on #33
@jgwhite yeah I think that's advisable since it's implementation specific and there's other things involved like CSS (in my case, the table has `overflow-x: auto; display: block;`).

[2016-01-25 16:25] jgwhite commented on #33
@osxi I’ll try to carve out time to add some guidance to the README based on your example.

[2016-01-29 10:54] chengyuanheng opened #81 "can i transfer other params in ember-sortable"

[2016-01-29 11:16] jgwhite commented on #81
Could you give an example of the params you’d like to transfer? Code example is preferable.

[2016-02-01 06:28] chengyuanheng commented on #81
sortable-items

[2016-02-01 06:28] #81 closed

[2016-02-04 18:57] jgwhite commented on #6
Closed by #82

[2016-02-04 18:57] #6 closed

[2016-02-08 09:54] meliborn commented on #33
Any changes?

[2016-02-09 09:01] jgwhite commented on #33
@meliborn the more I look at this, the more I think smart scrolling should not be built into ember-sortable. Instead, ember-sortable should be easily composable with other smart-scrolling solutions. [@osxi’s solution](https://github.com/jgwhite/ember-sortable/issues/33#issuecomment-174010730) is the approach I’d take in lieu of a dedicated library or component.

[2016-02-13 12:20] raelbr opened #84 "Manually refresh model, and other options"
Hey there. First of all, what a nice addon! I like the look and feel of the animated objects when sorting...

But i'm currently facing some issues while trying to save the elements position in the server... I need to send only the data from the item that had it's position changed, and i can't replace the model with a new Array, cause i have some dynamic itens that can be added and removed, and i w

[2016-02-13 12:47] raelbr commented on #79
This effect could me managed by including a transition and transform: scale() in a child element... for example:

[code]

In this case, you wont set any css style to the "sortable-item" class, but let all style be applied in the "tab-style" class.

The transform used to sort the elements will be applied in the "sortable-li", and then... just do the magic:

[code]
Good luck! =)

[2016-02-15 10:28] jgwhite opened #85 "Ensure hooks work with closure actions"
Not sure if they do or not, but would be good to check.

[2016-02-15 10:43] jgwhite commented on #84
Hi @raelbr

Thank you for your kind words.

Could you clarify some details for me:

1. Are you using Ember Data?
2. When you say you would “lose the bind” — what kind of binding are we talking about?
3. I don’t fully understand what you mean when you say “auto-refresh model”. Could you try re-phrasing?

Here’s what I’d expect a solution to look like:

[code]

[code]

Let me know if I’ve misinterpr

[2016-02-16 05:53] jgwhite commented on #79
@raelbr nice! Thanks :D

[2016-02-16 17:31] myared commented on #38
Just checking in on this issue as I may be in need of this feature soon. I wanted to see if anyone is still currently working on it. If not, I may take a stab.

[2016-02-16 18:01] jgwhite commented on #38
@myared I’ve got some sponsorship to work on this feature next week thanks to the good folks at [ScreenSteps](http://www.screensteps.com/). Watch this space :)

[2016-02-17 05:14] jheth commented on #38
I have a need to sort between lists as well as sort the groupings of lists. Would the work being done here support that case?

For example, I want to sort Section 1 <=> Section 2 and then any page in or between sections.

[code]

[2016-02-17 06:49] jgwhite commented on #38
@jheth yes, for sure

[2016-02-17 14:16] opsb commented on #38
@jgwhite if it's useful I'd be happy to talk you through my experience of implementing it. There's a few gotchas.

[2016-02-17 14:30] jgwhite commented on #38
@opsb that'd be very useful. Works commences next Tuesday. I'll give you a shout once I've gotten the lay of the land.

[2016-02-17 15:25] opsb commented on #38
:+1:

[2016-02-18 08:56] samselikoff commented on #79
I like this - I'll reopen if I have any problems once I get a chance to try it out :)

[2016-02-18 08:56] #79 closed

[2016-02-22 12:25] raelbr commented on #84
Hey there. Thank you for the answere... And sorry for taking too long to reply... Actually all the problems i had was because i forgot to provide the model to the sortable-group! So i made like the tutorial and everything is fine now!
Thank you very much!

[2016-02-22 12:34] raelbr opened #86 "[bug] element dragging forever"
Hello there!

I use the ember-sortable to sort some bootstrap tabs, but i'm having a little bug...

I don't know exactly what triggers this bug since it occurs only some times... but what happens is that i click in a tab and it starts the drag forever, and i'm unable to cancel the drag or click in any element in the current page.

Since we have the "onDragStart" action, maybe i can set a simple cl

[2016-02-22 15:39] jgwhite commented on #86
Hi @raelbr

Thanks for filing an issue. Could you provide code samples so I can get more of a sense of what’s happening, particularly in the `onDragStart` action handler.

[2016-02-22 16:30] raelbr commented on #86
{{#sortable-group
  tagName="ul"
  direction="x"
  classNames="nav nav-tabs"
  model=model
  onChange="reorderTabs" as |group|
}}

  {{#each model.tabs as |tab|}}

    {{#sortable-item
      tagName="div"
      model=tab
      group=group
      onDragStart="tabDrag"
      onDragStop="tabDrop"
    }}
      <li>
        {{#link-to 'routename' tab.id}}
          {{tab.name}}
        {{/link-to}}

[2016-02-22 16:41] jgwhite commented on #86
Not yet, but it would be a good thing to add.

We do have some built-in knowledge of when an interaction is not a drag — i.e. when there is very little movement between mousedown and mouseup — but perhaps it is not covering your case.

In the meantime, I would recommend adding a separate element to act as drag handle.

[2016-02-22 18:38] raelbr commented on #86
Thank you for your reply @jgwhite .

If i get a solution for this i share here. And if i manage to make an "cancel-drag" event that works fine in the plugin, i send a PR ;)

[2016-03-02 16:53] raelbr commented on #86
Hey there... I think i fixed this bug.
I managed to resolve this issue by adding the click event in the cancelStartDragListener inside the _primeDrag method, and also in the _startDrag.

[code]
Can this change impact someway in the plugins functionality?

[2016-03-02 17:04] jgwhite commented on #86
@raelbr seems good. Could you submit a pull request with this change. Let’s see what the test suite says :)

[2016-03-03 11:43] raelbr commented on #86
Well, i got a FAIL in Travis CI. Is there something i did wrong?

[2016-03-09 23:16] onlymejosh commented on #38
Any news on this @jgwhite :)

[2016-03-10 07:34] jgwhite commented on #38
@onlymejosh check the jj-abrams branch for progress.

[2016-03-10 20:44] onlymejosh commented on #38
Looks like its going pretty well, I cant really tell whats left to do? Happy to help

[2016-03-30 22:36] steffenbrem commented on #75
@jgwhite I think you just need to handle both the `x` and `y` axis. I haven't looked too much in the code yet, but I think it would be easy to implement for someone who knows this addon well. From what I know you check multiple times in your code for which dimension (axis) your working in and apply changes based on that axis. I might be wrong, but it may almost already be implemented.

[2016-03-31 04:11] jgwhite commented on #75
@steffenbrem you're absolutely right that we'd need to track both axes simultaneously. There still remains the question of how to rearrange the other items when a drag is in process. Or rather, how to provide an API for custom "reflow" procedures.

In the case of a grid like the one mentioned, ember-sortable wouldn't be able to do much for you automatically. The reflow logic would need to be provi

[2016-04-03 22:51] lolmaus opened #93 "Dragging between lists? Nested lists? Wanna build a sortable tree"
Here's a prototype I built long ago with jQuery UI Sortable: http://hivemindunit.github.io/hivemind-frontend-prototype/settings/domains/categories2/

I'm now trying to do an identical tree with Ember, and it's a tough nut to crack due to the lack of high-level drag-n-drop abstractions. :(

Is `ember-sortable` able to power a sortable tree like that?

[2016-04-04 15:06] jgwhite commented on #93
@lolmaus work is in-progress on the jj-abrams branch :)

[2016-04-04 15:28] lolmaus commented on #93
@jgwhite Tell me when it's ready for fiddling with. I'll implement my use case in your dummy app for experimenting with.

[2016-04-04 15:33] jgwhite commented on #93
:+1:

[2016-04-04 15:44] lolmaus commented on #93
@jgwhite Meanwhile, have you tried out my jQuery UI Sortable tree prototype I linked to above?

Note how all droppable regions are highlighted when you start dragging a node. I'm looking for an Ember addon that would allow building a similar experience. Will be happy to contribute to it once I see it does satisfy my needs.

[2016-04-04 15:56] jgwhite commented on #93
@lolmaus yes. I don’t expect to hit that level of functionality on the first try, but I am keeping this use cases in mind to provide extension points.

[2016-04-17 00:13] cojomojo opened #94 "In Internet Explorer and Edge, elements with display type of "table-row" do not have the "ghosting" effect during drag."
In Internet Explorer and Edge, elements with display type of "table-row" do not have the "ghosting" effect during drag (which makes it hard for a user to see where they are dragging/dropping elements to/from). This problem can be seen in the table example on the ember-sortable demo page. I have looked in to the issue and have found [this relevant stackoverlfow question](http://stackoverflow.com/qu

[2016-04-25 14:36] raelbr commented on #80
It depends on what your backend is expecting... In i project i'm working on, the backend receives a PATCH with the new position of the rearranged element (tab in this case), and them, all the elements of this group will receive an updated position, and it's all done in the backend. This works fine for us because we work with an auto-save approach...

But if it's not your case and you have a Save B

[2016-04-25 19:26] #86 closed

[2016-05-03 04:34] mcfiredrill commented on #80
I'm taking a similar appraoch to @raelbr , in my case I'm using rails and the library ranked_model:
https://github.com/mixonic/ranked-model

I just set the new position attribute before I save the dragged model.
[code]

[2016-05-04 17:18] jgwhite commented on #94
@cojomojo thanks so much for reporting, and sorry for the slow reply!

I would definitely welcome a PR!

[2016-05-30 09:43] joukevandermaas commented on #93
Is there any progress on this? I'd love to have this functionality.

[2016-05-30 11:47] lolmaus commented on #93
I've created a proof-of-concept addon for nested lists: https://github.com/lolmaus/ember-drag-sort

It works, but it requires a lot of time and effort to become usable in apps.

I can invest more time into it, all I need is ~~a swift kick in the butt~ some motivation. We could team up on Slack or something.

[2016-05-30 11:56] jgwhite commented on #93
@lolmaus this looks very promising. Sorry progress has been so slow on my end.

@lolmaus @opsb would you folks be interested in a hangout at some point soon to discuss joining forces?

[2016-05-30 11:59] lolmaus commented on #93
@jgwhite Poke me on Slack.

[2016-06-20 05:30] IAmJulianAcosta opened #96 "Events not firing"
I have the following markup:
[code]

The action `dragStarted` fires, but `dragStopped` and `reorderItems` don't, and each element never loses `is-dropping` class after dropping.

Version: v1.8.1

[2016-06-20 12:01] jgwhite commented on #96
Can I ask what logic is being performed in the `dragStarted`, `dragStopped`, and `reorderItems`?

Also, can I ask what browser/OS you’re observing this behaviour on?

[2016-06-20 15:03] IAmJulianAcosta commented on #96
Hi, the logic is a simple `console.log` to test if it works, but only prints in `dragStarted`.

Mac OS, tested in latest chrome and safari, `"ember": "2.6.0"`. I created a route only for trying this and avoiding conflicts, but the problem continues.

![screen shot 2016-06-20 at 10 02 23 a m](https://cloud.githubusercontent.com/assets/1844640/16199174/2d23e820-36ce-11e6-92b0-5488631bac4f.png)

I'm

[2016-06-20 15:15] IAmJulianAcosta commented on #96
Added several breakpoints in the following code:

[code]

And never executes

[2016-06-20 15:24] jgwhite commented on #96
Seems like we have an oversight in the `isAnimated` detection logic. Could you post your CSS?

[2016-06-20 15:24] thermech opened #97 "Delete model are not removed from sortable-group"
Hi,

I created a sorted group like this

[code]

When I delete a item from the store, it's not reflected in the sortable group. The item stay there until I refresh the page.

How can I refresh the sortable-group ?

[2016-06-20 15:27] IAmJulianAcosta commented on #96
I don't have any CSS for this part of the project, I just installed the addon and tried it, but, here is the [CSS](http://app.geociudadanos.org/assets/css/map.css).

I'm not sure, but `run.next` is the problem, it never runs the function passed to it.

[2016-06-20 15:29] IAmJulianAcosta commented on #96
Just tried this, in order to be 100% sure:

[code]

I never saw the alert

[2016-06-20 15:33] thermech commented on #97
**Update**: This append only if one item of the list has been dragged before the item was deleted

[2016-06-20 15:36] jgwhite commented on #96
@IAmJulianAcosta hmm… `run.next` comes direct from Ember. Do you see the same behaviour on Ember 2.5.x ?

[2016-06-20 15:36] IAmJulianAcosta commented on #96
Tried with 2.4, 2.5, and 2.6, same result

[2016-06-20 15:38] jgwhite commented on #97
Could you post:

- your `reorderItems` function
- the function where you delete items?

[2016-06-20 15:41] thermech commented on #97
Yeah, for sure, here they are:

[code]

And the delete action:

[code]

[2016-06-20 15:59] thermech commented on #97
I found the problem. This is caused by my reorder function. I did not update the group

I change my function for this one and it works:

[code]

[2016-06-20 16:36] jgwhite commented on #96
Very strange. I think the best best will be to check this out via a screenhero session. Are you available any time soon?

[2016-06-20 16:40] jgwhite commented on #97
Could you try making a couple of changes and let me know what happens:

[code]

[code]

[2016-06-20 16:46] IAmJulianAcosta commented on #96
I'll message you in ember slack :)

[2016-06-20 16:58] thermech commented on #97
It totally fix it.

So I understand that with my `set`I was kind of breaking the binding ?

[2016-06-20 17:08] jgwhite commented on #97
Yeah, I think so.

[2016-06-20 17:16] thermech commented on #97
Thanks a lot!

[2016-06-20 17:16] #97 closed

[2016-06-20 18:30] jgwhite commented on #96
So this turned out to be a very interesting issue where a library @IAmJulianAcosta was using (Date.js) was overriding `Date.now` to return a string representation. This is a problem because Backburner uses `Date.now` internally and expects integer representations.

[2016-06-20 18:30] #96 closed

[2016-06-20 21:40] IAmJulianAcosta commented on #96
Not sure if the problem was [date.js](http://www.datejs.com/) or [date format](https://gist.github.com/eralston/968809), but after I migrated to [moment.js](http://momentjs.com), it worked as intended, thanks again @jgwhite !

[2016-07-10 18:20] aandis opened #98 "Possible to drag svgs?"
I am using `svg` to draw rectangles and grouping them within a `g` tag. Is it possible to drag the svgs like the lists? Currently, this is what I have, but it doesn't work.

[code]

[2016-07-10 19:05] aandis commented on #98
Hm. Got it working like this..

[code]

[2016-07-11 18:44] jlommori opened #99 "Reorder does not save after item is released"
Hello

I have implemented ember-sortable for a list of questions to be reordered however, after I try to sort the list, it doesn't seem to update the view. Each of the items in my list have a "position" field that stores a number for what order it should sort in. When the route is loaded, the model is sorted by this position field.

When dragging the items around, they update the model without a p

[2016-07-18 21:22] davelowensohn commented on #72
+1

Definitely an edge case, but I'm using this inside of an `{{ember-modal-dialog}}` and dragging a sortable outside of the modal's boundaries causes the whole app to break.

[2016-07-28 19:16] offirgolan opened #101 "Weird sizing issues when dragging table headers"
Hi there!

Im trying to use this library in [ember-light-table](https://github.com/offirgolan/ember-light-table) to provide draggable column support but I'm running into some weird issue when dragging.

![draggable-columns](https://cloud.githubusercontent.com/assets/575938/17226126/bade3286-54bc-11e6-831f-12852ee47d42.gif)

There is a PR open offirgolan/ember-light-table#109 with a branch you are

[2016-08-04 16:22] scottmessinger commented on #99
@jlommori Are you sorting the the model in the route? If so, I wonder if you sorted in the component it would update. Can you post the router/component code?

[2016-08-04 16:53] raelbr commented on #99
When you drag an item, than its positions reverts to the default (as if you had not dragged the item) or you need to receive an updated position from server?

If you have followed the provided example for ember-sortable's github page you shouldn't  have getting trouble with the first case, but if the second case is what is bugging you, then you should try a Route.refresh() and you will probaly nee

[2016-08-04 16:59] scottmessinger commented on #38
@jgwhite I pulled your jj-abrams branch and got it working in my app! Everytime I've hacked on ember-sortable, I find it really pleasant. I find reading your code and following the logic quite easy -- thanks so much for doing this.

As I working with it, there were just a couple things I ran into that I changed:
- I changed the translates to translate3d and debounced them. Pretty simple change
- t

[2016-08-04 17:12] jgwhite commented on #38
Sounds like it's worth a PR :) Does it have a noticeable effect on performance?

Yes definitely. That logic is in its very early stages in that branch. I tried a number of approaches to walking the tree (including quad trees, believe it or not) but kept coming back to this approach. The check whether a child can receive a model was a last minute addition.

This is interesting. It has always bother

[2016-08-04 19:57] #98 closed

[2016-08-11 00:24] offirgolan commented on #101
/ping @jgwhite

[2016-08-11 04:15] jgwhite commented on #101
Hi @offirgolan. Really sorry for the slow reply! Something is up with my GitHub notifications, I think half of them may have been going to a defunct email address.

Will take a look now.

[2016-08-11 04:16] offirgolan commented on #101
No worries! Thanks for taking the time to investigate 😁

[2016-08-11 05:10] jgwhite commented on #101
I gave it a shot. See https://github.com/offirgolan/ember-light-table/pull/143 for detailed answer.

[2016-08-11 20:16] offirgolan commented on #101
@jgwhite gonna go ahead an close this issue. Thanks again for all your time!

[2016-08-11 20:16] #101 closed

[2016-08-19 19:40] GCheung55 opened #103 "Support accessibility drag/drop"
It would be very helpful to add accessibility support.

Here's a reference guide https://dev.opera.com/articles/accessible-drag-and-drop/

[2016-08-20 18:06] jgwhite commented on #103
Hi @GCheung55. This is an excellent idea. Would you be interested in working on a PR to implement it? I’m a little short on development time right now but I can help out in any way you need. Let me know what you think :)

[2016-10-21 21:47] omghax opened #105 "The reorder helper no longer works in ember-cli-qunit 3.0"
It seems as though the changes made to `ember-cli-qunit` in ember-cli/ember-cli-qunit#48 have broken the `reorder` test helper's calculations. The dragged items only move half the distance they're supposed to, and so the list never actually changes.

[2016-10-22 17:08] jgwhite commented on #105
Good spot, and awesome fix.

[2016-10-22 17:12] #8 closed

[2016-10-22 17:12] #12 closed

[2016-10-22 17:12] #23 closed

[2016-10-22 17:16] jgwhite opened #108 "Seeking new maintainer"
I’ve loved working on this project (and I’m very happy that it’s proved useful to the community) but the time has come to hand over the reins.

If you’re interested in taking over maintenance and development of ember-sortable please let me know here. I’ll remain an active contributor and do my utmost to make the handover frictionless.

[2016-10-25 13:46] acburdine commented on #108
@jgwhite I could devote some time to this 😄

[2016-10-25 16:52] jgwhite opened #109 "Ember > 2.10 test suite compatiblity"
`Component#appendTo` is no longer supported so it’s time to rewrite the mixin unit tests.

[2016-10-25 16:55] jgwhite commented on #108
@acburdine thanks so much for responding. I’ve invited you to be a collaborator on the repo and the package on NPM.

The priority tasks are:

- [Solve Ember 2.10 test suite incompatiblity](https://github.com/jgwhite/ember-sortable/issues/109)
- [Land the autoscroll PR](https://github.com/jgwhite/ember-sortable/pull/104)
- [Land the test helper fix PR](https://github.com/jgwhite/ember-sortable/pull

[2016-10-25 20:24] tim-evans opened #110 "Memory leak"
[sortable-mixin](https://github.com/jgwhite/ember-sortable/blob/master/addon/mixins/sortable-item.js#L299) doesn't clean up its `primeDrag` method every time, resulting in ember-sortable retaining memory.

The leak happens specifically when a drag action is started, but never completed.

We're seeing ~9Mb of memory being retained in our test suite by this method not being cleaned up completely.

[2016-10-25 20:46] jgwhite commented on #110
Good spot! Does it look like it'll be easy to patch?

[2016-10-25 20:47] tim-evans commented on #110
I doesn't look to bad. We'll need to maintain a reference to this handler and `$(window).off` it in the `willDestroyElement` hook 😉

[2016-10-26 02:12] #109 closed

[2016-10-26 04:15] #108 closed

[2016-10-26 18:33] acburdine commented on #110
@tim-evans do you have time to create a fix for this? Otherwise I can create a fix and get it in version 1.9 😄

[2016-10-26 18:33] tim-evans commented on #110
I totally can!

[2016-10-26 19:14] edeis53 commented on #93
@jqwhite just to clarify, does master currently support nesting/children?

Example model:
[code]

[2016-10-26 19:43] jgwhite commented on #93
@edeis53 no, it doesn't.

I explored this space pretty intensely with @scottmessinger. You can see the results in the jj-abrams branch. In the end, the problem space was so vast I completely burnt out on it.

The hard part is designing a set of primitives that support sorting between trees of lists, that doesn't dictate a particular style of nested sorting UI. All whilst supporting animation as we

[2016-10-27 15:23] #110 closed

[2016-10-27 18:29] tim-evans commented on #33
This has been completed with #104 🎉

[2016-10-27 18:30] acburdine commented on #33
thanks @tim-evans!

[2016-10-27 18:30] #33 closed

[2016-10-27 18:44] #105 closed

[2016-10-28 18:25] acburdine commented on #99
@jlommori - I just tested this and was not able to reproduce the error you're seeing. Using the basic usage given in the readme, I was able to successfully sort items programmatically in the controller and they would update in the view, which would still let me drag and reorder them as well. Here's the [twiddle](https://ember-twiddle.com/6fc8eb235a59f7451dc6247202eb1133?openFiles=templates.applica

[2016-10-28 18:25] #99 closed

[2016-10-28 19:41] #85 closed

[2016-11-03 14:13] estshy opened #115 "Performance"
This component has low performance (especially on mobile) because the touchdown and mousedown handlers are neither debounced nor throttled. In addition events are actually attached to each element of the list instead of being delegated to sortable group.

To make it possible to attach mousedown and allow people to drag items, dragging should be default prevented only after moving it by let's say 1

[2016-11-03 14:25] scottmessinger commented on #115
We'd love to see a PR for this! If you need any help, let us know!

[2016-11-03 20:21] jgwhite commented on #115
Agreed. All the proposed improvements sound great and I would love to see them come to fruition. Perhaps we could do smart stuff with the capture phase too?

[2016-11-06 23:32] edeis53 opened #116 "Autoscroll reposition bugs"
https://github.com/jgwhite/ember-sortable/pull/104
@tim-evans
Issue with autoscroll merge. Create a list of 100 items or so, scroll down to near the bottom. Grab and item to sort. Scroll up a bit and try sorting another item, the scroll position automatically jumps to the position of the last object that was moved.

Also autoscroll to the top of the screen doesn't seem to work. Only to bottom.

[2016-11-08 20:57] tim-evans commented on #116
Thanks for the repro. I think I know exactly what's going wrong

[2016-11-08 21:12] tim-evans commented on #116
I tried to reproduce this using the dummy app, but cannot. Could you provide a working reproduction for this? This may be the code playing poorly with your configuration.

[2016-11-08 21:18] jgwhite commented on #116
Thanks for jumping on this so quick @tim-evans

[2016-11-09 01:50] edeis53 commented on #116
I made a fresh ember to reproduce. On a fresh install ember-sortable runs fine. Turns out there is a conflict with semantic-ui-ember. Good hint on the configuration issue. You can reproduce the error here: https://github.com/edeis53/ember-sortable-scrollbug.git

[2016-11-09 15:37] remithomas opened #117 "Ember-sortable is not compatible with WYSIWYG elements"
I can create a sortable list of WYSIWYG elements but when I re-order the list, my last element lose his content.
Is Ember-sortable is compatible ?

ps: I use tinyMCE

[2016-11-09 16:12] tim-evans commented on #116
I can reproduce now. I'll try to dig into what's going on.

[2016-11-11 10:43] estshy commented on #115
@scottmessinger  @jgwhite I've improved the performance of dragging (https://github.com/jgwhite/ember-sortable/pull/118). I will try to focus on the remaining issues when I will find more time.

[2016-11-11 11:09] jgwhite commented on #115
@estshy awesome, many thanks. Someone will review your PR soon.

[2016-11-15 16:00] acburdine commented on #117
@remithomas I'm not sure I understand what your issue is here 😕 Can you please provide a reproduction case or maybe a gif screenshot? That would go a long way to help me understand the issue and possibly how to fix it :)

[2016-11-18 23:34] #116 closed

[2016-11-21 18:42] alexparker commented on #68
Hmmm kind of a deal breaker for me right now with the way i have inputs/components inside the sortables. Going to look into a workaround or a fix. Would love any other input too if someone has found something

[2016-11-21 18:58] jgwhite commented on #68
@alexparker best of luck finding an alternative solution. Sorry we couldn't get to this one in time.

[2016-11-21 23:26] alexparker commented on #68
@jgwhite I found its commonly used UX to have a user toggle a active "sorting" behavior, so I decided to go that route with this library. So it actually renders alternate template for sorting, then renders the interactive component items once the user clicks "done sorting" - it was a suitable workaround. Thanks for your apology, I hope I can contribute something in the near future.

[2016-11-21 23:30] alexparker opened #121 "Importing acceptance helpers not working."
I've tried importing exactly as described in the README.md and also tried importing directly into the acceptance test but can't seem to find the right path to include the modules. Here are my set of packages:

  "engines": {
    "node": ">= 0.12.0"
  },
  "author": "",
  "license": "MIT",
  "devDependencies": {
    "broccoli-asset-rev": "^2.4.5",
    "ember-ajax": "^2.4.1",
    "ember-cli": "2.9.1

[2016-11-22 06:15] jgwhite commented on #121
Could you post exactly the lines you’re using to import them in `tests/helpers/start-app.js` and also the error message you’re seeing?

[2016-11-23 06:19] alexparker commented on #121
Apologies - I am not sure what the problem was, but something else must have been wrong, because it started working for me without changing the import line :shrug: :)

[2016-11-23 06:19] #121 closed

[2016-11-26 23:11] acburdine opened #123 "Documentation & Testing Improvements"
As part of 1.10, I'd like to get done a few things related to documentation/testing. This issue serves as a checklist both for myself and as a comment area for anything anyone else can think needs to happen related to docs & testing.

List of things:
- [x] Add API documentation (in progress - #122)
- [ ] Improve Travis release process to auto-update the gh-pages branch
- [ ] Add code coverage via

[2016-11-28 09:15] mupkoo opened #124 "Inputs inside of a `sortable-item` are inactive"
Whenever there is an input inside of a sortable group, you cannot focus on it with a click. But you can do it with a second click.

Here you can find a demo:
https://ember-twiddle.com/e97d74aafeaee76e246426cca3b6197e?openFiles=templates.application.hbs%2C

[2016-11-28 09:53] jgwhite commented on #124
Thanks for your feedback.

For this use case, I generally recommend using the `handle` attr, as seen in the readme:

[code]

Here’s the concept applied to your example:

https://ember-twiddle.com/90ede70dfb4a3f00b12ea261fd7eb6d8?openFiles=templates.application.hbs%2C

[2016-11-28 14:45] acburdine commented on #124
@mupkoo as @jgwhite, the correct way to do this is to use the `handle` attr. Closing this as it is intended behavior.

[2016-11-28 14:45] #124 closed

[2016-12-15 04:14] scottmessinger commented on #115
Since #118 has been merged, I'm going to close this for now. Thanks @estshy for the PR!!!

[2016-12-15 04:14] #115 closed

[2016-12-15 04:19] scottmessinger commented on #72
Closing since it's fixed in #100

[2016-12-15 04:19] #72 closed

[2016-12-15 04:20] scottmessinger commented on #72
Actually, this might not be fully fixed in #100. @lolmaus Does that commit take care of it? If not, let's reopen.

[2016-12-15 09:56] lolmaus commented on #72
I'm not currently using `ember-sortable`.

Let's assume #100 fixes it until proved otherwise.

@davelowensohn :bowing_man:

[2017-01-05 16:18] #117 closed

[2017-01-31 15:53] jacobq commented on #123
Could you also show how to view the source code for the demos?

[2017-01-31 16:05] acburdine commented on #123
@jacobq great idea! I'll definitely add that :)

[2017-01-31 19:39] jacobq opened #129 "Add check for `isDestroying`?"
In my application I have a list of sorted items shown on a page, each of which as a "delete button" that corresponds to an action that called `deleteRecord` on the associated model item. This seems to work most of the time, but there appears to be a race condition wherein I can start to drag an item just after clicking the delete button. In that case, `Ember` throws an error when `ember-sortable`

[2017-01-31 19:41] acburdine commented on #129
Hmm....this is definitely an interesting problem - I'll definitely look into this further 😄

[2017-01-31 19:55] jacobq commented on #129
Thanks. For now I've moved my "drag handles" further away from the button so that it is at least harder to do.

[2017-02-08 22:59] shanebruggeman commented on #38
Wow, lots of great discussion on this threat. Is this still in progress? I'd love to be able to transfer items between lists

[2017-02-11 02:19] lukemelia opened #130 "passive eventListener issue as of Chrome 56"
Chrome 56 makes a change so that you must pass `passive: false` to touchstart & touchmove events if you want to be able to successfully call `evt.preventDefault()`. Otherwise the `preventDefault` call is ignored, resulting in the div or page scrolling whilst dragging the sortable item. This can be seen on the demo site:

![image](https://cloud.githubusercontent.com/assets/353/22850378/5b34eb9e-efd

[2017-02-11 09:07] jgwhite commented on #130
Wow, that I'd read about passive listeners but this kinda seems like a "break the web" change. Easy to patch I guess.

[2017-02-11 13:28] acburdine commented on #130
Yup - I'll get a fix in for this ASAP.

[2017-02-11 20:21] acburdine commented on #130
@lukemelia I looked over our codebase, and there's only one call to `preventDefault`, and that's within the `touchStart` event handler provided by Ember itself. I know there's a way to disable event handlers altogether in Ember, but as far as I know not a way to explicitly make an event `{passive:false}` as far as Ember is concerned.

Is there something that this library can do to work around that

[2017-02-11 21:44] acburdine commented on #130
On second thought I had the idea of just bypassing Ember's default provided touch events altogether, but as it turns out a) jQuery doesn't provide a way to add `{passive: false}` to any event listeners (as far as I could tell - I searched for several issues and there doesn't seem to be any progress on current jQuery versions) and b) doing things the manual way (via `document.addEventListener`) wou

[2017-02-11 23:28] jgwhite commented on #130
I think that solution sounds good but I'm amazed that Chrome/W3C aren't getting pushback on this.

[2017-02-11 23:29] jgwhite commented on #130
Holding off until we know more sounds good too.

[2017-02-12 00:46] lukemelia commented on #130
Thanks for digging in guys. I'm happy to share code that I'm using to fix similar stuff internal to Yapp once I get everything working.

[2017-02-12 01:15] krisselden commented on #130
@jgwhite if you apply `touch-action: none` to the draggable area it fixes it, but you need to apply it just to the handle specifically in the scrollable list example.

[2017-02-12 20:27] acburdine commented on #130
@krisselden thanks for the suggestion - that seems to have done it. Will release a 1.9.2 version with the fix in as soon as I can

[2017-02-12 21:13] acburdine commented on #130
Fix released as part of ember-sortable 1.9.2 😄

[2017-02-13 03:06] lukemelia commented on #130
Thanks for jumping on this @acburdine! What are the cross-browser implications here? If I'm reading [this](http://caniuse.com/#search=touch-action) right, `touch-action: none` is not yet supported in current versions of Firefox and Safari.

[2017-02-13 03:14] acburdine commented on #130
Oh shoot - removing the `preventDefault` breaks Firefox and safari then 😞  Time to fix again!

[2017-02-13 03:36] acburdine commented on #130
Alright - should be _actually_ fixed with 1.9.3 😅 Let me know if you experience any more issues

[2017-02-13 03:36] #130 closed

[2017-02-17 01:03] RByers commented on #130
Sorry for the trouble, thanks for fixing this!  There's some details on the Chrome change [here](https://developers.google.com/web/updates/2017/01/scrolling-intervention) if anyone is interested.

[2017-02-17 07:47] jgwhite commented on #130
@RByers thanks so much commenting, it means a lot 🙂

[2017-02-17 18:00] RByers commented on #130
jgwhite@ thank you, your response has inspired me to [encourage our team](https://groups.google.com/a/chromium.org/forum/#!topic/intervention-dev/_0eSO-NjULo) to do this sort of GitHub-based outreach anytime we have a risky breaking change like this!

[2017-02-27 16:59] Sureshowler opened #132 "Position of the items are scattered after the sorting"
Some css transform is applied while sorting and it is not removed. I guess it  causes the misbehavior

[2017-02-27 17:01] acburdine commented on #132
@Sureshowler could you provide some more info or screenshots? I'm not entirely sure what you mean by the issue title - so some more information would go a long way toward me being able to solve this. Thanks 😄

[2017-02-27 17:05] Sureshowler commented on #132
Demo-component.hbs
{{#sortable-group tagName="ul" onChange="reorderItems" as |group|}}
  {{#each recipients_list as |item index|}}
    {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
      <div>{{index}}  {{item.a}}</div>
      <span class="handle">&varr;</span>
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}

Demo-component.js

import Ember from 'ember';

export def

[2017-02-27 17:09] Sureshowler commented on #132
Hi @acburdine ... Do you need more info?

[2017-02-27 17:15] Sureshowler commented on #132
Try with chrome version 56......... It is working good in firefox....

[2017-02-27 18:09] Sureshowler opened #133 "Sortable not working in chrome version 56"
The elements are misplaced after sorting....Refer this link for source code...https://github.com/jgwhite/ember-sortable/issues/132

[2017-02-28 08:44] michalsnik commented on #37
Hey, thanks for a great plugin!

I just encountered this issue and was wondering if you guys forgot about it or you won't fix this issue? It would be really great to have support for multiline lists.

[2017-02-28 14:07] jgwhite commented on #37
@michalsnik thanks for your kind words.

I think everyone’s still keen to tackle this but the reality is that it’s a challenging problem to solve in a general way without changing the way ember-sortable works.

The fundamental tension comes from the fact that ember-sortable was designed to have the most minimal DOM-impact possible. This means we don’t depend on the DOM layout engine to compute new

[2017-03-01 09:17] michalsnik commented on #37
Ahh I get it @jgwhite, I gave it a though or two but no easy solution came to my mind.

Unfortunately I don't have much time currently to figure out a proper solution in this plugin ;/ So I ended up wrapping https://github.com/RubaXa/Sortable into my ember application.

[2017-03-01 16:39] Sureshowler commented on #133
Hi @acburdine ... The problem is only in windows... Could you provide a workaround ASAP....

[2017-03-01 16:54] acburdine commented on #133
@Sureshowler sorry to ask for more - could you provide a screenshot as to what you're experiencing? I will try and get this looked at today but a screenshot would let me know what to look for. Thanks!

[2017-03-01 17:27] Sureshowler commented on #133
Hi @acburdine ....
I explain with screenshot

1.This is the initial page before sorting..
<img width="960" alt="bug1" src="https://cloud.githubusercontent.com/assets/8970055/23472116/d9a42dc8-fed1-11e6-9ce0-7c8539653a2d.png">

2.After the second element is dragged out of the top edge of sortable container...The first item of container is hidden ..

<img width="960" alt="bug2" src="https://cloud.gi

[2017-03-06 22:01] c4mb0t commented on #68
+1 for this one, would love to see a fix. The behavior I am experiencing is: say you have a button within a sortable item. Clicking on the button before sorting works fine. If you sort that item, then it will take two clicks to trigger the action on the button, the first one is ignored.

[2017-03-14 20:18] estshy opened #134 "During dragging cursor should stay the same"
During dragging cursor should stay the same. Currently it's being changed based on element under mouse which is misleading for the user. We should put invisible layer on top of everything before starting dragging to block pointer events.

[2017-04-18 10:59] BryanCrotaz commented on #75
I'm working on this for a client - I'll try and work out a PR

[2017-05-03 08:40] lolmaus commented on #93
What's the status of the `jj-abrams` branch?

[2017-05-03 12:00] jgwhite commented on #93
@lolmaus I'm afraid I burnt out working on it. Consider it abandoned.

[2017-05-03 13:24] scottmessinger commented on #93
@lolmaus I'm using it right now and it's working great. There are definitely some areas that should be reworked, but I haven't had time to make the changes. Specifically, I think the ability of `SortableNode` (new concept in the `jj-abrams` branch) to be both a `sortable-group` and a `sortable-item` causes quite a bit of confusion. I've found the code backing SortableNode to be really first rate a

[2017-05-15 07:26] senthilvel15 opened #138 "Any way to specify the overshoot from app level ?"
what does overshoot do ?

[2017-05-17 22:52] Ghostavio commented on #132
I'm experiencing the same issue, the only thing I have is the code from the example on the README file.

[2017-05-25 18:43] NullVoxPopuli commented on #86
any updates? I think I have a similar issue, where link-to is causing a full page navigation after mouse-up

[2017-05-25 20:18] NullVoxPopuli commented on #68
for a fix, could we not trigger drag until a certain amount of threshold dragged?

[2017-05-25 20:20] acburdine commented on #68
@NullVoxPopuli that was added in #137. I need to release a new version with that fix added.

[2017-05-25 20:22] NullVoxPopuli commented on #68
oh, cool. @acburdine until you do that, I'm going to test out the master branch.

[2017-05-25 20:31] NullVoxPopuli commented on #68
nah, bug that I'm experiencing is still there.
I have a sortable-item that contains a link-to. when I let go of the mouse, the whole page navigates.
I'm not using a handle.
actions within a sortable-item don't fire

[2017-05-30 20:20] NullVoxPopuli commented on #68
@koreiklein did you ever find a solution?

[2017-05-31 14:05] rlivsey opened #139 "Where is 1.9.2 and 1.9.3 source?"
I can see the tags for 1.9.2 and 1.9.3, but in master the latest version is 1.9.1…

[2017-05-31 14:11] acburdine commented on #139
Hey @rlivsey, apologies for that confusion. The reason for that was I merged in a breaking change (dropping support for ember versions < 1.13) and then needed to release a couple of emergency backported releases with the chrome touch event fun that happened a few months ago. There's a few more breaking changes that I want to get in before releasing 2.0 though, which is why I haven't released it ye

[2017-06-05 23:23] meliborn commented on #75
Any news? Doesn't work with multiple columns as well.

[2017-06-23 06:59] okachynskyy opened #141 "Any way to programmatically move items?"
Together with drag and drop I want to add a buttons with arrows for swapping two items with the similar animation.
Can you suggest the right way to implement this behavior?

[2017-06-26 14:30] okachynskyy opened #142 "How to disable dragging for some items? E.g. first or last?"

[2017-07-04 21:58] BnitoBzh opened #143 "Add a configurable OVERSHOOT property for test helper (reorder)"
I made different tests with the reorder test helper.
In some case, the reordering works correctly, but in some other cases it doesn't works ..
I tried to update the "OVERSHOOT" value, and where initialy the test failed, with a value to 20 it works.

I think it's a good idea to allow to override the value directly in the reorder function by passing a new attribute.

Or, in order to prevent breaking

[2017-07-05 07:14] BnitoBzh commented on #143
const OVERSHOOT = 1.05; is better ...

[2017-07-06 10:55] epaminond opened #144 "Global window "click" events get removed when removing element from group"
Hi, thanks for useful package! :)
I've got a weird issue with it, but not sure where it's coming from.

Say I have a component with property:
[code]

And here's part of it's template:
[code]

When `removeDataField` action gets fired all window 'click'-events (checking via `$._data(window, 'events').click`) get removed. I've made a workaround for that (see commented out code in action) but as of my

[2017-07-07 08:45] Allariel opened #145 "Actions (click events) doesn't works for IPad device."
Hello guys!
I uses the ember sortable (1.9.3 version) for my application.
He breaks the functionality of ember actions (click events) on IPad device.

Steps to reproduce:
1. Add some controller with `test` action.
1. Add the sortable component to hbs of controller.
2. Add action (`<div {{action "test"}}>test</div>`) to inner DOM node of the sortable item component.

Current result: The test action

[2017-07-07 13:21] BnitoBzh opened #146 "Is possible to generate an 1.9.4 version ? with the new distance attribute ?"

[2017-07-07 13:40] acburdine commented on #146
Yes, I'll get on it this weekend. Apologies for the delay!

[2017-07-07 22:36] Syzygy24 commented on #93
@jgwhite Is something like this supported?

[code]

I'm trying to get it working where the child items are an entirely independent list other than their tie to the parent, but no luck so far.

[2017-07-10 23:20] Syzygy24 commented on #146
Ah, I was wondering why I couldn't get that working. Thanks!

[2017-07-11 10:07] Allariel commented on #145
I use other selector for handle property and this fixed this issue.

[2017-07-11 11:54] Allariel commented on #145
Hello guys! I investigate this issue and found out that we can comments only `event.preventDefault();` in `_primeDrag` function, because this uses only for text selection. We can prevent selection with help css.
What you think about this?

[2017-07-11 21:23] BnitoBzh commented on #146
@acburdine ?

[2017-07-12 00:27] acburdine commented on #146
Working on it now!

[2017-07-12 00:42] acburdine commented on #146
Ember-Sortable 1.9.4 published 😄 Again, sorry for the delay!

[2017-07-12 00:42] #146 closed

[2017-07-14 15:23] bschouwerwou commented on #129
I'm running into a similar error. I'm using a `computed` property which is used to build the sortable items that I loop over with `each`. It depends on an array from my model, which I update when an item is moved, resulting in the computed property to be recomputed and update the view.

When I drag an item I will usually get the error. In my case it's coming from the `_drag` function when setting

[2017-07-18 00:31] bschouwerwou commented on #132
Here are some screenshots of different cases I've experienced. It seems to depend on where I stop dragging, but only happens occasionally.

Expected:
![image](https://user-images.githubusercontent.com/5817731/28295454-a77527ca-6b2e-11e7-902d-05de68bc6dc4.png)

Example 1:
![image](https://user-images.githubusercontent.com/5817731/28295267-85f65de0-6b2d-11e7-9339-e38eb0b1bd06.png)
![image](https://u

[2017-08-02 13:02] miguelcobain commented on #142
I think it would be very handy to have a `disabled` option that would disable dragging support if true.

[2017-08-02 13:11] jgwhite commented on #142
I’d suggest doing something like:

[code]

(In this example using [`slice` from ember-composable-helpers](https://github.com/DockYard/ember-composable-helpers#slice).

[2017-08-02 13:15] miguelcobain commented on #142
@jgwhite that would be a workaround for "disabling" the first and last items. However, in my use case we need to disable the form temporarily (e.g while saving) and then enabling it again.
A disable property should be straightforward (I think) and very helpful.

Would you be open to a PR for that feature?

[2017-08-02 13:16] jgwhite commented on #142
@miguelcobain certainly :)

[2017-08-17 11:36] mlenderink commented on #68
Is there any progress on this bug? After dragging the action on the draggable item isn't fired. It does work on a second click.

[2017-09-04 19:09] matthewdias commented on #132
i'm still seeing this issue. any update here? can i provide some info to help?

[2017-09-07 20:23] nerdyworm commented on #144
I'm running into something similar.  I believe that https://github.com/jgwhite/ember-sortable/blob/master/addon/mixins/sortable-item.js#L297-L298 is the issue.  `click` needs to be namespaced to `click.ember-sortable` or something like that.

[2017-09-08 08:58] jgwhite commented on #144
@nerdyworm sounds like a pragmatic fix. Fancy submitting a PR?

[2017-09-08 13:39] nerdyworm commented on #144
There is already a PR for this: https://github.com/jgwhite/ember-sortable/pull/149

The fork is working quite well for us.  I'd like to see it merged if possible :)

[2017-09-11 19:36] H1D opened #152 "outdated demo (/gh-pages)"
Tried http://jgwhite.co.uk/ember-sortable/demo/ on mobile chrome and it scrolls page while dragging

[2017-09-11 19:43] jgwhite commented on #152
Thanks for reporting. Could you provide the precise version of Chrome?

[2017-09-11 22:03] H1D commented on #152
@jgwhite Chrome 60

I think I found out why. Seems like demo app is a bit outdated (build using old version). `handle` element has no `touch-action:none`:
![image](https://user-images.githubusercontent.com/697625/30298869-bb5fcdb4-9755-11e7-84ea-10a0c10494f9.png)

Same app [rebuild](https://ember-twiddle.com/7068cc6921dc42fa53a4cce410e79f73?fileTreeShown=false&numColumns=0) at ember-twiddle with l

[2017-09-11 22:07] acburdine commented on #152
@H1D yeah that's not surprising 😕 I've had it on my radar for a while to update the demo - will get to it as soon as I am able.

[2017-09-12 06:31] jgwhite commented on #152
Good sleuthing @H1D!

[2017-09-14 12:15] H1D opened #153 "Item move up/down buttons"
Sometimes there is a need for item `[move up]`/`[move down]` buttons.
For example when item is relatively big comparing to client viewport and D'n'D isn't so easy to do.

I have first dirty attemp ([code](https://github.com/StepicOrg/ember-sortable/compare/master...StepicOrg:item-move-buttons?expand=1)), minimal example:
[code]

Do you need this in upstream?
What is needed for PR? Tests + docs + d

[2017-09-14 12:39] jgwhite commented on #153
I like the direction of this. Particularly with an eye towards making it very easy to implement an accessible sortable.

PR with tests+docs+demo would be fab.

One suggestion: rather than the passing these actions as positional params, it might be nice to pass a single hash that can be extended in future.

[code]

[2017-09-15 14:10] H1D commented on #153
@jgwhite using `{{hash}}` will brake ember <2.3  support. Is it OK?

[2017-09-15 14:15] jgwhite commented on #153
@H1D good question.

@cibernox how do you account for availability of the `hash` helper (keyword?) with the ember-power-* projects?

[2017-09-15 14:29] H1D commented on #153
@jgwhite nevermind, found [workaround](https://github.com/StepicOrg/ember-sortable/commit/fe46421be7217b652079241bfb89443cb95a3acf#diff-787c16725869a3acd1da4ead0bccf308L1):
[code]
hbs:
[code]

[2017-09-15 14:35] cibernox commented on #153
@jgwhite A while back I decided to support only Ember 2.3.1+, so I know for sure the hash helper is available. However I have a polyfill and it's very simple: https://github.com/cibernox/ember-hash-helper-polyfill

[2017-09-15 18:41] #129 closed

[2017-09-15 19:03] matthewdias commented on #72
Hmm I don't think this is fixed. Still seeing this issue.

[2017-10-04 11:12] jgwhite opened #155 "Take inspiration from Dragon Drop"
[Post on a11y wins](https://a11ywins.tumblr.com/post/166008481313/dragon-drop-accessible-reordering-library)

[Dragon Drop](http://www.harris-schneiderman.com/demos/dragon-drop/index.html)

Some really nice ideas here.

[2017-10-04 22:29] shidel-dev commented on #132
I am having this issue, and I have found the source of the problem. In the mixin the `_drag` method is being called after the `reset` method is invoked by the group on drop. The item being dragged is stuck with a transform until another drag event happens.

[2017-10-04 22:41] jgwhite commented on #132
@shidel-dev thank you for investigating! I look forward to your PR.

[2017-10-19 11:13] jgwhite commented on #37
Letting this one go, for now.

[2017-10-19 11:13] #37 closed

[2017-10-19 11:14] jgwhite commented on #38
As of today, this isn’t under active development. This thread has been terrific but I’m going to close it and hopefully some brave soul can use it as a source of inspiration. Perhaps we’ll see ember-power-sortable in the future?

[2017-10-19 11:14] #38 closed

[2017-10-19 11:16] jgwhite commented on #75
I’m going to close this for now as it’s beyond the scope of ember-sortable as it stands today. If anyone makes progress, feel free to re-open and/or submit a PR.

[2017-10-19 11:16] #75 closed

[2017-10-19 11:17] jgwhite commented on #80
Thanks for all the useful feedback. Closing this to keep the issues list tidy.

[2017-10-19 11:17] #80 closed

[2017-10-19 11:17] #84 closed

[2017-10-19 11:19] jgwhite commented on #93
We’ve decided tree-sorting is beyond the scope of ember-sortable as it stands today. Building an API that supports arbitrary modes of tree sorting is a massive undertaking and for now ember-sortable best serves the community by performing its simple task dependably.

[2017-10-19 11:19] #93 closed

[2017-10-19 12:05] jgwhite commented on #152
Have rebuilt the demo against 1.10.0

[2017-10-19 12:05] #152 closed

[2017-10-19 18:13] cojomojo commented on #94
No longer pursuing this fix, as it is probably a fix for < 1% of people who will use ember-sortable, and I myself no longer need it addressed.

[2017-10-19 18:13] #94 closed

[2017-11-02 10:16] jevanlingen commented on #76
@ianbale: Is this feature still being worked on? Would be a nice addition to this addon!

[2017-11-15 08:58] ianbale commented on #76
@jevanlingen : It kinda got hijacked and modified to be quite specific for the client job I mentioned.

That's not to say it couldn't be made a little more generic again without too much work. I'm happy to answer any questions about the code if you want to pm me, but it's unlikely that I will work on this again any time soon. Right now I'm not even working with Ember...

[2017-11-15 18:40] pboutin commented on #143
I had some inconsistencies in my tests as well. Changing the `OVERSHOOT` fixed it for me as well.

I suggest having `reorder(app, itemSelector, resultSelectors, options)` as the new contract (having the overshoot and the mode into an option hash with defaults.

I can open a PR if you want.

[2017-11-15 20:39] jgwhite commented on #143
@pboutin a PR would be awesome. Thank you!

[2017-11-20 02:49] jacobq opened #161 "Modify `throttle` import to eliminate deprecation warning"
When using this addon in an Ember v2.16.2 app I encounter the deprecation notice shown below.
This appears to be caused by
[`import { throttle } from 'ember-runloop';`](https://github.com/jgwhite/ember-sortable/blob/91cccd91b69b42ac78570ae75008a559ca4f3edc/addon/mixins/sortable-item.js#L6).

Is there a simple way to update this without breaking older 2.x versions?

[code]

[2017-11-20 12:42] jgwhite commented on #161
Thanks for reporting. We’ll ship a release that is fully ember 2.16.x compatible soon 🙂

[2017-11-29 21:06] BnitoBzh commented on #161
If you want any help to do this ...

[2017-12-14 21:41] ccarterc commented on #141
There is a test helper which you could probably leverage:
[code]
This assumes you are in the test directory though, so you will likely have to change path a bit for the import.

[2017-12-29 20:58] jabbermarky opened #163 "does this work across multiple lists, like JQueryUI Sortable "connectWith"?"
I'm currently using JqueryUI Sortable widget, and would like to find something better. I must have something like "connectWith" functionality. can this support this functionality? if not, is there a plan to add it? if there is a plan, do you have a target date?

thanks.

[2018-01-16 09:44] jgwhite commented on #163
We’re not planning to add that functionality, I’m afraid.

[2018-01-16 14:35] Dhaulagiri opened #166 "Consider removing ember-new-computed"
This is only needed (i think) for ember 1.11 and earlier which is _pretty_ old at this point

[2018-01-16 14:47] Dhaulagiri opened #167 "Remove reliance on targetObject from tests"

[2018-01-17 15:49] notmessenger opened #169 "ember-invoke-action@1.5.0: This addon is not being maintained anymore, use at your own risk."
As of `1.5.0` `ember-invoke-action` (https://github.com/martndemus/ember-invoke-action) is no longer being maintained.  This add-on is a dependency of this one - https://github.com/jgwhite/ember-sortable/blob/1.x/package.json#L24

[2018-01-29 15:08] jacobq opened #170 "Upgrade ember-cli-htmlbars to remove deprecation warning"
The current release (1.11.0) triggers an annoying deprecation warning w/ recent versions of Ember that would be fixed by upgrading to the latest release of `ember-cli-htmlbars` (2.x). Please consider upgrading [this](https://github.com/jgwhite/ember-sortable/blob/b5e1d8aa8db302641e91178d8339fecd073f6ba1/package.json#L24).

[code]

The deprecation warning looks like this and is described [here](htt

[2018-02-05 22:13] miguelcobain opened #171 "blur is prevented when dragging a sortable-item"
When you drag a sortable-item, if there was a previous focused element, it never loses focus.

I made a twiddle to reproduce the issue:
https://ember-twiddle.com/71480160a6682f5d9191f2a70c1b5d8e?openFiles=templates.application.hbs%2C

Basically if you focus the input and then reorder one of the items, you can notice that the input stays focused.

[2018-02-23 12:44] eg271 opened #173 "Demo not loading"

[2018-02-23 14:00] Dhaulagiri commented on #170
@jacobq the warning you pasted references `ember-getownerpolyfill`, but I do see a similar warning in ember-sortable that references `ember-new-computed`.  I opened a PR to remove that in #175 which should address this (i think).

[2018-02-23 14:28] #166 closed

[2018-02-23 14:35] jacobq commented on #170
@Dhaulagiri Thanks for looking into this! My understanding what the the old version (1.3.1) of ember-cli-version-checker would cause this all by itself. I will try to see if this clears the warning now.

[2018-02-23 15:15] Dhaulagiri commented on #167
Fixed by https://github.com/jgwhite/ember-sortable/pull/172

[2018-02-23 15:15] #167 closed

[2018-02-23 22:34] jacobq commented on #170
Hmm, I still see references to the old `ember-cli-version-checker` in v1.11.1 and #master, but when I set up a new/empty app and install the addon I don't get the warning now. Also, I can confirm that `ember-new-computed` appears to be gone now, as you said.

Latest release:
[code]

Current master:
[code]

My PR, which attempts to upgrade to ember-cli@3.0.0:
[code]
but it still has a few failing t

[2018-02-26 14:08] #173 closed

[2018-03-16 15:42] jgwhite opened #178 "The future is ember-animated"
I propose to either sunset this addon and give people a transition path to ember-animated or perhaps reimagine it as a thin wrapper atop ember-animated.

Thoughts welcome!

[2018-04-10 09:43] omairvaiyani opened #179 "Replace jquery with vanilla javascript"
I'm happy to take on this task if you think it's achievable and desirable? On a quick skim, I couldn't see any major reasons why jquery is fundamental to the logic here.

In terms of why - I know many developers took to removing jquery to simplify their fastboot integration. I know there are ways around integrating fastboot whilst keeping jquery, but if it's doable, I think it's a worthwhile proje

[2018-04-25 17:36] Duder-onomy commented on #142
This sounds totally rad.
I also would like to disable the entire `sortable-group` while some other work is happening.

[2018-05-09 14:12] joe-wroten-q2 commented on #178
ember-sortable has accomplished exactly what I attempted to create in an app I'm working on in a reliable way. I'd hate to see it go, but if the plan is to sunset the addon then I'd be happy to replace what we have with a thin wrapper atop of ember-animated should that be created.

[2018-07-20 16:22] ivanvotti opened #183 "How can I change the offset, so that repositioning happens earlier?"
By default repositioning occurs as soon as the dragging element covers more than 100% of the sibling element. I'd like to change it to 50%, so that I need to overlap  just 50% of the sibling to trigger the repositioning.

In the GIF below, the first example is what I'd like to achieve, the second one shows what happens by default:

![jul-20-2018 21-17-26](https://user-images.githubusercontent.com/

[2018-07-30 10:14] rdosanjh opened #184 "Offset is incorrect with table in firefox"
If Ember sortable is used within a table in firefox the item being dragged jumps around 200px.

## Behaviour on Firefox
![ember scrollable ff table](https://user-images.githubusercontent.com/8139394/43391672-3aa14c48-93e9-11e8-9ae3-83fdde11d3a7.gif)

## Behaviour on Chrome
![ember sortable on chrome](https://user-images.githubusercontent.com/8139394/43391794-8a974432-93e9-11e8-92d2-f460fbf80c4c.gi

[2018-08-03 07:42] nagytezsolt commented on #68
Any progress? I installed the latest version of the package, but the bug is still exist.

[2018-08-03 09:02] jgwhite commented on #68
@nagytezsolt I’ve not taken a look into this issue lately, though I was under the impression that a previous PR had resolved it (forgive my haziness). Are you encountering the issue exactly as described above? If you can share a little bit of code, it would be great to learn a little bit about exactly how you’re using it.

[2018-08-06 10:04] nagytezsolt commented on #68
{{#sortable-group tagName="ul" onChange="reorderItems" as |group|}}
	{{#each fields as |field|}}
		{{#sortable-item tagName="li" model=field group=group classNames="sortbox__li sortbox__li--small" handle=".sortbox__li"}}
				<span class="sortbox__span--name">
					{{field/field-autoselect class="sortbox__select" content=sources 						 valuePath="id"   labelPath="name" value=field.collection_name m

[2018-08-16 11:07] flexoid commented on #68
As figured out (thanks to @rygor-monterosa), `_preventClick` function sets click handler `_preventClickHandler` on sortable item right before drop. This is to prevent unintended button clicks.

[code]

But for some reason, this handler is not fired during drop, as a result - first intended user click is handled by `_preventClickHandler`.

Hope this information will help to properly fix the bug.

O

[2018-08-17 05:55] nagytezsolt commented on #68
Using the onDragStop() function resolves the problem. Thank you!

[2018-08-27 07:35] poplevente opened #186 "DEPRECATION: Accessing jQuery.Event specific properties is deprecated"
Hi Guys,

using the latest ember version, we get the following deprication warnings:

"DEPRECATION: Accessing jQuery.Event specific properties is deprecated. Either use the ember-jquery-legacy addon to normalize events to native events, or explicitly opt into jQuery integration using @ember/optional-features. [deprecation id: ember-views.event-dispatcher.jquery-event] See https://emberjs.com/depre

[2018-08-28 05:45] jgwhite commented on #186
Thanks for reporting.

Not presently, no. PRs very welcome.

[2018-10-10 12:11] nagytezsolt commented on #124
Current behavior: if the input is inside the "handler" the input is not focusable, only with mouse right click
{{#sortable-group tagName="ul" onChange="reorder" as |group|}}
  {{#each colors as |color|}}
    {{#sortable-item tagName="li" model=color group=group  handle=".handle"}}
    	<div  class="handle">
      	{{ input value=color }}
      </div>

    {{/sortable-item}}
  {{/each}}
{{/sortable

[2018-10-30 22:15] KroneckerDeIta commented on #186
I had a little look at this and I think if we change the sortable-item.js mixin so that the following lines in both the getY and getX functions:

`let originalEvent = event.originalEvent;`
`let touches = originalEvent && originalEvent.changedTouches;`

are replaced with:

`let nativeEvent = normalizeEvent(event);`
`let touches = nativeEvent && nativeEvent.changedTouches;`

and add the import for n

[2018-11-09 08:18] poplevente commented on #186
Can someone check this and make the changes? would be nice to have it since soon ember will depricate this and we cannot use it anymore

[2018-11-13 22:24] jmar910 opened #191 "Use closure actions for 'onDragStart` & `onDragStop` drag actions"
We can refactor this to use closure actions instead of action bubbling
https://github.com/heroku/ember-sortable#drag-actions

[2018-11-13 22:24] jmar910 opened #192 "Get demo app working"

[2018-11-13 22:37] jmar910 opened #193 "Remove `ember-invoke-action` dependency"
ember-invoke-action is no longer maintained and closure actions can be used in its place. This is somewhat related to #191 as these actions use `invokeAction`

[2018-11-14 15:37] jmar910 opened #194 "Update README with information about maintaining"
We should include whatever relevant information that entails. This task can be used to also think about our process for maintaining this repo.

Ideas:
How we at heroku will work on this repo
How to submit PRs
How to submit issues
How to label/annotate submitted issues/prs

[2018-11-14 15:39] jmar910 opened #195 "Update README with accessibility info"
It would be great to have a section or guide in the readme that talks about how to implement ember-sortable in an accessible way. @jgwhite had some interesting information regarding aria attributes and drag n drop functionality.

[2018-11-14 15:41] jmar910 opened #196 "Changelog cleanup (Lerna?)"
Explore how we can clean up our changelog. Lerna is a valid option since we already use it in other heroku ember apps.

[2018-11-14 15:44] jmar910 opened #197 "Automatic dependency upgrades"
We should look into dependabot or greenkeeper as a way to keep our dependencies updated. Any tool that opens PRs using new versions of dependencies would be a good fit.

[2018-11-14 15:46] jmar910 opened #198 "Upgrade to latest ember"
There are a few outstanding PRs that can be cleaned up and also ones that work can be lifted from (#187). It might be best to use the work from #187 to get us to ember 3.5, or we can attempt to get to 3.4.2 and then upgrade to 3.5.

I did some research into the failing tests on #187 in ember LTS 2.16 and it seems like it would be beneficial to do #191 and #193 first, rewrite those 2 failing tests

[2018-11-14 20:48] jmar910 commented on #193
Duplicate of #169

[2018-11-14 20:48] #193 closed

[2018-11-15 10:32] raulb opened #199 "Fix the travis build link"

[2018-11-15 11:03] raulb opened #201 "Reconcile branching strategy to remove 1x as the default branch"

[2018-11-15 12:44] jgwhite commented on #201
I’ve reset `master` to the same commit as `1.x` and made `master` the default branch.

When we do the audit of existing pull requests, we should re-target the ones we want to keep at `master`. Once everything is moved across we might want to remove `1.x` to avoid future confusion.

[2018-11-15 12:44] #201 closed

[2018-11-15 12:44] jgwhite opened #202 "Transfer codeclimate ownership"

[2018-11-15 12:45] jgwhite commented on #202
Done: https://codeclimate.com/github/heroku/ember-sortable

[2018-11-15 12:45] #202 closed

[2018-11-15 12:47] jgwhite commented on #197
I’ve configured Travis to automatically do a build once a week so ember-try can tell us if future versions of ember break ember-sortable.

![image](https://user-images.githubusercontent.com/34030/48553840-a1333a80-e8d4-11e8-9f04-55e160df68ae.png)

[2018-11-15 13:55] jgwhite commented on #68
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue seems more-or-less resolved so we're closing it.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 13:57] jgwhite commented on #76
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue hasn't been touched in a while so we're closing it. Thanks for all the great ideas and discussion.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 13:57] #76 closed

[2018-11-15 13:57] jgwhite commented on #103
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue hasn't been touched in a while so we're closing it. Note that we have added some notes on accessibility to the README.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 13:57] #103 closed

[2018-11-15 13:58] jgwhite commented on #123
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue hasn't been touched in a while so we're closing it.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 13:58] #123 closed

[2018-11-15 13:59] jgwhite commented on #132
This looks like it should have been automatically closed by #156

[2018-11-15 13:59] #132 closed

[2018-11-15 13:59] jgwhite commented on #133
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue hasn't been touched in a while so we're closing it.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 13:59] #133 closed

[2018-11-15 14:01] jgwhite commented on #134
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue hasn't been touched in a while so we're closing it.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 14:01] #134 closed

[2018-11-15 14:02] jgwhite commented on #138
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue hasn't been touched in a while so we're closing it.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 14:02] #138 closed

[2018-11-15 14:02] jgwhite commented on #141
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue hasn't been touched in a while so we're closing it.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 14:02] #141 closed

[2018-11-15 14:03] jgwhite commented on #142
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue hasn't been touched in a while so we're closing it.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 14:03] #142 closed

[2018-11-15 14:04] jgwhite commented on #143
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue hasn't been touched in a while so we're closing it.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 14:04] #143 closed

[2018-11-15 14:04] jgwhite commented on #144
Looks like this should have been automatically closed by #149

[2018-11-15 14:04] #144 closed

[2018-11-15 14:05] jgwhite commented on #145
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue hasn't been touched in a while so we're closing it.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 14:05] #145 closed

[2018-11-15 14:06] #155 closed

[2018-11-15 14:09] jgwhite commented on #161
This seems to have been fixed upstream by ember/ember-cli. Please re-open if it’s still an issue.

[2018-11-15 14:09] #161 closed

[2018-11-15 14:09] #163 closed

[2018-11-15 14:11] jgwhite commented on #170
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're going to be upgrading ember-cli and all dependencies to their latest stable versions. Hopefully that will fix this issue. Watch this space.

[2018-11-15 14:12] jgwhite commented on #178
I still think this is worth exploring, but it’s a long way off so closing for now.

[2018-11-15 14:12] #178 closed

[2018-11-15 14:15] jgwhite commented on #183
There is currently no API for this. A PR that adds one would be welcome.

[2018-11-15 14:15] #183 closed

[2018-11-15 14:17] jgwhite commented on #184
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests. This issue hasn't been touched in a while so we're closing it.

Please feel free to re-open if you'd like to resume the conversation.

[2018-11-15 14:18] jgwhite commented on #186
This project is now being maintained by the team at @heroku.

To get the project healthy and maintainable again, we're doing a bit of spring cleaning of older issues and pull requests.

The plan is to drop jQuery as a dependency altogether. Keep an eye on #179 for updates.

[2018-11-15 15:11] #169 closed

[2018-11-15 15:46] jgwhite commented on #191
I’m inclined to leave the code and example as-is. My reasoning is that `sendAction` works with  `onDragStart="myAction"`, `onDragStart=(action "myAction")`, and `onDragStart=(action myAction)` so we continue to offer full backwards-compatibility. Though I personally prefer `onDragStart=(action myAction)`, `onDragStart=(action "myAction")` aligns better with Ember’s guides so I think we should stic

[2018-11-15 15:46] #191 closed

[2018-11-16 14:59] #198 closed

[2018-11-16 16:41] Dhaulagiri opened #208 "ReferenceError: drag is not defined"
**Describe the bug**
Trying to use `drag` helper in tests

**To Reproduce**
Steps to reproduce the behavior:
1. With 1.12.0
2. Use `drag` helper in a test

**Expected behavior**
The test works as before

[2018-11-16 18:19] Dhaulagiri commented on #208
introduced most likely by https://github.com/heroku/ember-sortable/pull/206

[2018-11-16 20:20] #208 closed

[2018-11-19 11:06] jgwhite commented on #192
This is back in action here: https://heroku.github.io/ember-sortable/demo/

[2018-11-19 11:06] #192 closed

[2018-11-27 15:14] Dhaulagiri commented on #170
This should be fixed now in 1.12, please re-open if you notice otherwise

[2018-11-27 15:14] #170 closed

[2018-12-05 07:32] Argun opened #213 "Please remove sendAction deprecation warning."
deprecate.js:102 DEPRECATION: You called sendAction("onChange") but Component#sendAction is deprecated. Please use closure actions instead. [deprecation id: ember-component.send-action] See https://emberjs.com/deprecations/v3.x#toc_ember-component-send-action for more details.

[2018-12-17 16:21] fonkgoku opened #217 "Unclean Event Registration causes onChange to trigger incrementally"
When using ember-sortable as described in the README, the onChange action is triggered multiple times and increases by 2 for every drag event.

I created a twiddle to outline this problem:
https://ember-twiddle.com/c75a926136ccbbb68963f3c2cf4be136?openFiles=controllers.application.js%2C

To reproduce open up the console and start dragging the items. As you can see "reorder" is logged first 2 times

[2018-12-17 16:29] fonkgoku opened #218 "No event passed to preventClickHandler"
In a conventional use case, I noticed `_preventClickHandler()` throwing an error:
`Cannot read property 'stopPropagation' of undefined`

You can see this happening in this Twiddle if you open up the console and start dragging items.
https://ember-twiddle.com/c75a926136ccbbb68963f3c2cf4be136?openFiles=controllers.application.js%2C

I suspect this is because no event object is passed to `_preventCli

[2018-12-17 16:46] jgwhite commented on #217
A PR would be very welcome. Thanks for reporting!

[2018-12-17 16:47] jgwhite commented on #218
We’d also love a PR for this. I’ll leave it up to you whether you bundle the fix with the other issue you observed.

[2018-12-18 17:59] mixonic opened #219 "Dropping is missing a runloop"
**Describe the bug**

When dropping the [drop handler](https://github.com/heroku/ember-sortable/blob/master/addon/mixins/sortable-item.js#L394-L402) is called, which in turn calls` _drop` which [itself sets some state](https://github.com/heroku/ember-sortable/blob/master/addon/mixins/sortable-item.js#L617-L618).

It seems that we should have a runloop around the `set` calls at the least, or a `run

[2018-12-19 06:32] jgwhite commented on #219
Great catch. Care to submit a PR for this? ☺️

[2018-12-21 19:39] fonkgoku commented on #217
Merged to master, closing.

[2018-12-21 19:39] #217 closed

[2018-12-21 19:39] fonkgoku commented on #218
Merged to master, closing.

[2018-12-21 19:39] #218 closed

[2018-12-26 16:58] aandis commented on #179
+1

[2019-01-02 09:58] jgwhite commented on #179
Thank you everyone for your feedback on this. Happily this was implemented in #212 by very fine fellow @nlfurniss and released as part of [1.12.2](https://www.npmjs.com/package/ember-sortable/v/1.12.2).

[2019-01-02 09:58] #179 closed

[2019-01-02 10:05] omairvaiyani commented on #179
Great stuff!

[2019-01-03 11:14] kdamball opened #226 "Can't use `drag` test helper when using a handle"
Without using a `handle` prop for `{{#sortable-item}}`, one can easily use the `drag` test helper. However, without a `handle` prop - you can't use inputs as per https://github.com/heroku/ember-sortable/issues/124. In other words, impossible to run acceptance tests in this scenario.

[2019-01-03 16:34] kdamball commented on #226
I managed to reproduce it here: https://ember-twiddle.com/78875ceb8f9ea82e63026ec71727d6d6?openFiles=tests.acceptance.my-acceptance-test.js%2C

[2019-01-04 07:18] jgwhite commented on #226
Thanks for the report and the awesome reproduction.

There seem to be a couple of things at work:

- The way we calculate `scale` in the drag helper (recently fixed)
- The way we determine whether or not animated transitions are in play (still an open question)

Could you try the latest release (1.12.4)?

I was able to get the twiddle passing by bumping ember-sortable to 1.12.4 and adding the foll

[2019-01-04 12:17] kdamball commented on #226
CSS transitions leading to elements not being sorted is probably the bigger issue here 😅

[2019-01-20 15:40] aandis commented on #186
Hey @jgwhite. Just upgraded to `1.12.4` and still seeing

Is that expected?

[2019-01-30 20:51] knownasilya commented on #186
Seeing it as well.

[2019-02-14 12:46] froskos opened #230 "inline `touch-action:none` not being properly applied"
**Bug description**

I used the library "as it came" and found that (most recent version). Differently from the demo, I could not successfully use it to sort a list in a touch device. With mouse everything worked fine.

**Steps to Reproduce**

1. Create a sortable list in which the sortable items DO get a value for the `handle` attribute. The list must have at least 2 elements.
2. Test drag&drop s

[2019-02-14 12:47] froskos commented on #230
PR available:

https://github.com/heroku/ember-sortable/pull/229

[2019-02-15 02:06] apellerano-pw opened #231 "drag/drop not resolving promise on drag end"
**Describe the bug**
Dragging a `sortable-item` and then releasing it does not cause `_complete()` to be called.

**To Reproduce**
Steps to reproduce the behavior:
1. Create some sortable items with an `onDragStop` action
2. Drag an item to a new spot and release mouse button
3. `onDragStop` action is never called

**Expected behavior**
`onDragStop` action is called

**Additional context**
I stepp

[2019-02-15 02:06] apellerano-pw commented on #231
I believe this is relevant to the conversation in this PR https://github.com/heroku/ember-sortable/pull/223#issuecomment-460650716

[2019-02-15 09:31] jgwhite commented on #230
Closed by #229

Will be released as part of 1.12.5 (soon).

[2019-02-15 09:31] #230 closed

[2019-02-15 16:38] fivetanley commented on #231
Maybe `isAnimated` should have a default of `false`? We don't include any styles for animations by default it seems.

[2019-02-15 16:40] fivetanley commented on #231
It looks like we do check to make sure the element is actually animated. Do you have any custom styles for transitions that you're using? https://github.com/heroku/ember-sortable/blob/master/addon/mixins/sortable-item.js#L129

[2019-02-15 19:27] apellerano-pw commented on #231
Doesn't look like we are specifying any transition properties on the element. Here's a snapshot from `getComputedStyle(el)`, lmk if seeing more of it would be useful:
[code]

`isAnimated` will check for `transition-property: all` and that appears to be the default value (https://developer.mozilla.org/en-US/docs/Web/CSS/transition-property). Perhaps `transition-duration` and/or `transition-delay` w

[2019-02-15 19:34] apellerano-pw commented on #231
If I change the implementation of `isAnimated` to do
[code]

Then everything works correctly again. Perhaps the best way to compute `isAnimated` is with some combo of `transition-duration`, `transition-delay`, and `transition-property`?

[2019-02-15 22:45] lozjackson opened #233 "Scroll-on-edges is not working when the scroll container is document"
**Describe the bug**
Scroll-on-edges is not working.  When I have a list that overflows the height of the page and the scroll container is the `document` (no internal scrolling), dragging a list item to the top or bottom is not causing the list to scroll.  I have created an ember-twiddle to demonstrate the problem...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ember-twiddle

[2019-02-16 09:31] RVenkatesh opened #234 "'onChange' not getting triggered after version 1.12.4 update"
We had been using the sortable for few months. After the 1.12.4 update, the 'onChange' event is not getting triggered. I am testing using Chrome 71.0.3578.98 (Official Build) (64-bit). Below is the code sample.

[code]

And the component js file has the action
[code]

I have not added the full code for the action, since the action itself is not getting called anyway. I did some digging and looks l

[2019-02-16 10:42] dhinesh03 commented on #234
I too have this issue.

[2019-02-16 12:02] froskos opened #235 "Drag and drop failing in touch devices"
**Bug description**
In touch devices using webkit browsers, no item in a sortable list can be dragged (and as a consequence neither dropped)

**To Reproduce**
Steps to reproduce the behavior:
1. You can simply checkout version `1.12.4` and do `ember s`. Also with new version `1.12.5`
2. Access localhost:4200 and interact with the demo in a device matching the description above (touch device + webk

[2019-02-16 12:12] froskos commented on #235
Proposed PR https://github.com/heroku/ember-sortable/pull/236

Some touch events do not come encapsulated in such a way that they must be accessed via `event.originalEvent`. The current version of the code does not provide for this.

The proposed fix has been tested in isolation and integration, both vs versions 1.12.4 and 1.12.5

[2019-02-18 06:23] jgwhite commented on #234
Thanks for reporting. It seems like the changes we introduced to fix some Firefox issues have caused regressions elsewhere. Will report back when we have a plan to move ahead. As a temporary measure, we recommend pinning to 1.12.3.

[2019-02-18 06:23] jgwhite commented on #233
Thanks for reporting.

[2019-02-18 06:24] jgwhite commented on #231
This logic could certainly be more robust. A PR to that effect would be very welcome.

[2019-02-18 06:24] jgwhite commented on #235
Awesome, thanks for the PR. Reviewing presently.

[2019-02-25 17:27] froskos commented on #235
Hi @jgwhite ! Any feedback about this one? Thanks for reviewing! :)

[2019-02-25 21:17] jgwhite commented on #235
@froskos sorry for letting this one slip! Taking another look now.

[2019-02-25 21:37] jgwhite commented on #235
@froskos thanks for the awesome PR. I’m closing this issue for now. Feel free to re-open if you encounter more issue like this.

[2019-02-25 21:37] #235 closed

[2019-03-08 18:29] tavosansal commented on #186
I can confirm this is still a problem ... looks like #179 was never merged and actually the PR was closed...so should this issue be reopened?

[2019-03-08 18:30] tavosansal commented on #213
There is a couple of usages of `sendAction` in this repo still...would be nice to not have those deprecations anymore. Here is a list: https://github.com/heroku/ember-sortable/search?q=sendAction&unscoped_q=sendAction

[2019-04-04 05:25] jgwhite opened #240 "Animation doesn’t work after the first sort"
### Describe the bug

After the first drag-and-drop, animation no longer works.

### To Reproduce

Steps to reproduce the behavior:
1. Visit the dummy app
2. Sort the first example (vertical list)
3. Sort it again
4. Notice that animation no longer works

### Expected behavior

Animation should continue working.

### Screenshots

![sortable-bug](https://user-images.githubusercontent.com/34030/5553

[2019-04-05 15:13] samhogg opened #241 "Element.closest() is unsupported in IE"
**Describe the bug**
The use of `Element.closest()` was introduced in #212, causing the `_primeDrag` event to fail on IE 10/11 as the method is unsupported.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the demo pages in IE10
2. Observe JS errors

**Additional context**
I think this just needs a doc change to call out browser support explicitly, and warning that consumers will need to

[2019-04-08 04:59] jgwhite commented on #241
Thanks for the detailed report.

Yes please!

[2019-04-24 05:59] #219 closed

[2019-04-24 12:57] #240 closed

[2019-04-30 15:09] fran-worley opened #248 "Make @ember/jquery a developer dependency"
Forgive me if I'm missing something but since jQuery was replaced with native javascript as part of #212, why do we still list `@ember/jquery` as a package dependency?

I note that it is still used for tests but wouldn't that just require it to be a dev dependency?

[2019-04-30 15:40] jgwhite commented on #248
Great question.

I *think* it should be possible to make jQuery a dev dependency, but there’s still one thing that confuses me…

It looks like there is some implicit interaction with jQuery [in the test helpers that ship with ember-sortable](https://github.com/heroku/ember-sortable/blob/f42f62e73dbc45ef2bcd2263d172fdc756c1c337/addon/helpers/drag.js#L55). I don’t know exactly what this means for co

[2019-04-30 15:41] jgwhite commented on #248
I think what I’m saying is: we should figure out how to remote all jQuery-related stuff from test land too, and then expunge any mention of jQuery from the codebase.

[2019-04-30 15:46] jgwhite commented on #248
In the meantime: I’d welcome a PR that moves `@ember/jquery` to dev dependencies as you propose 🙂

[2019-04-30 15:47] fran-worley commented on #248
Lovely - but based on your initial comment, would that break the test helpers?

[2019-04-30 16:30] jgwhite commented on #248
@fran-worley I honestly have no idea, but this is our chance to find out! 😅

[2019-05-06 12:49] hornetnz commented on #241
This is also present in IE11. Can you give me some details on how to patch/polyfill this?

[2019-05-06 13:01] samhogg commented on #241
@hornetnz - https://developer.mozilla.org/en-US/docs/Web/API/Element/closest

@jgwhite - sorry this got lost in my inbox, raising a PR now.

[2019-05-06 13:20] hornetnz commented on #241
Thanks @samhogg. Would it not make more sense to add the polyfill itself into the PR?

[2019-05-06 18:58] samhogg commented on #241
@hornetnz discuss over on the PR

[2019-05-07 12:04] jgwhite commented on #241
I’ve merged @samhogg’s PR to the README. PRs to either remove Element.closest usage or bake in the polyfill are both welcome.

[2019-05-22 05:39] #248 closed

[2019-05-22 05:53] jgwhite opened #256 "Modern test helpers"
It would be great to add `drag` and `reorder` test helpers using the modern ember test helper patterns. The outcome is that apps using “classic” (globals) test helpers can continue as-is whilst modern apps can import helpers as follows:

[code]

[2019-05-28 19:11] ygongdev commented on #256
Here's one for `drag` using the modern test helpers and vanilla JS. However, if we want to keep the `registerAsyncHelper` for backward compatibility, we might have to rename the modern test helper, else there might be a name collision.

[code]

[2019-05-29 11:14] jgwhite commented on #256
@ygongdev lovely stuff, thanks!

I think it’s OK for `import { drag } from 'ember-sortable/test-helpers';` to clobber the global `registerAsyncHelper` version.

Could you wrap this up in a PR?

[2019-05-29 18:22] ygongdev commented on #256
Yeah I can take a stab at it when I have some time.

[2019-06-03 18:11] allinne commented on #186
I agree with @tavosansal the issue is still actual. @jgwhite, could you reopen it and take into development?

[2019-06-04 00:05] ygongdev commented on #256
I tried to convert `drag` and `reorder` to the new syntax, migrate existing tests to new test syntax, and remove dependency on jquery. However, it doesn't seem like the sorting is ever happening in the tests, thus all of them failed, so I'll need to keep into it more.

[2019-06-04 09:09] BnitoBzh commented on #234
YES !!! I found a (the?) solution !!! 🎉
All `.sortable-item` MUST have a css property with a transition like `transition: all .125s;`
Because, if not, the event `transistionend` is not fired in Firefox. (due to the `_waitForTransition` function refactor on the "sortable-item" Mixin that adds this behavior)

Sass/CSS example to fix the issue :
[code]

[2019-06-04 10:14] jgwhite commented on #256
@ygongdev we’ll need to keep the tests for the classic-style helpers around too, to maintain backwards compatibility.

[2019-06-04 10:22] jgwhite commented on #186
Can I confirm whether everyone commenting here is seeing these deprecations warnings in tests or in development?

It looks like there are no references to jQuery in the main library code anymore, just in the test helpers.

With that in mind, let’s focus efforts around ridding the existing helpers of jQuery and, even better, modernizing the helpers https://github.com/heroku/ember-sortable/issues/25

[2019-06-04 10:34] allinne commented on #186
@jgwhite thank you for reopening!
The deprecations point out [here](https://github.com/heroku/ember-sortable/blob/207b5beb022c5370d7621c586234c01bef176dfd/addon/mixins/sortable-item.js#L704-L732). See [Ember Deprecations Docs](https://deprecations.emberjs.com/v3.x/#toc_jquery-event)
Hope it will be helpfull.

[2019-06-04 10:35] jgwhite commented on #234
@BnitoBzh good catch. Do you think there’s anything you could add to the core core to ensure these conditions are met?

[2019-06-04 10:40] jgwhite commented on #186
Thanks for the reference to the deprecation guide. Please if anyone has the time to work on removing jQuery from the test helpers then go ahead and open a PR. I’ll be ready and waiting to review it!

[2019-06-04 10:47] BnitoBzh commented on #234
I think there is nothing to add to the core code, a simple README update can be made to explain the CSS requirement for Firefox. (a simple note like my previous comment after the installation instructions)

[2019-06-04 16:44] xtagon commented on #234
Note that this is affecting Chrome (according to the issue owner, and I also saw the issue in Chrome) and possibly other browsers, not just Firefox.

[2019-06-04 16:53] RVenkatesh commented on #234
Rightly said. I saw the issue occur in Chrome. Not sure about Firefox though.

[2019-06-04 22:46] jgwhite commented on #234
To me it sounds like we need to fix `_waitForTransition` and the `isAnimated` property to do a better job of detecting animation conditions. If you have an idea how to fix it, please don’t hesitate to open a PR.

A PR that adds workaround details to the README would be a welcome interim measure.

[2019-06-05 05:46] nlfurniss commented on #256
Modern test helper should also be moved to `addon-test-support` and out of the `helpers` dir since those are bundled with the addon and into the consuming app :-(

[2019-06-11 08:11] #186 closed

[2019-06-17 09:28] fran-worley opened #262 "Recalculate handle position if sortable group changes after drag start"
**Describe the bug**
My sortable group is made up of a series of bootstrap cards (fancy squares) which can become quite long so I'd set these up to collapse on drag start to make them easier to move around.

What seems to happen is that the sort item gets separated from the cursor (see screenshot) making it nearly impossible to drag the items around.

**Expected behaviour**
I would expect the sort

[2019-06-18 02:52] AdminDev826 commented on #234
I've updated version to `^1.12.9` and added the following styles.
Now `onChange` event works well. :)
Thank you. @BnitoBzh
Sass/CSS example to fix the issue :

// in scss or sass file
.sortable-item {
  transition: all .125s;

  &.is-dragging {
    transition-duration: 0s;
  }
}

// or in css file
.sortable-item {
  transition: all .125s;
}
.sortable-item.is-dragging {
  transition-duration: 0s;
}

[2019-06-20 23:59] ecoutlee-hortau opened #263 "Sometime element make a "jump" after a drag&drop"
I wanted to update from version 1.11.2 to latest version 1.12.9

After the update the transition was working well but sometime the element jump after dropping it.

Steps to reproduce the behavior:
1. Have list of sortable item.
2. Drag&drop any element to change the order.
3. Repeat step 2 until you see the item jump after dropping it.

See the video for more info about the bug in the .zip.
[bug-v

[2019-06-27 22:29] ecoutlee-hortau opened #264 "Error with Ember-source version 3.3.0 to 3.4.8"
After updating Ember-source to version 3.4.8, Ember sortable stopped working.
I was able make it work normally with Ember v3.2.2, but after v3.3.0 I get a console error.
I am not currently able to test with ember-source v3.5.x or above because I have other dependency breaking my app.

Steps to reproduce the behavior:
1. Install Ember source version 3.4.8
2. Try to drag and drop an element
3. See a

[2019-06-27 22:37] ecoutlee-hortau commented on #264
Ok updating to latest version fixed this issue. But I got other small bug with the latest version. Closing this issue.

[2019-06-27 22:37] #264 closed

[2019-06-28 08:37] jgwhite commented on #264
Thanks for the report and the follow-up 🙂

[2019-07-26 10:03] IgnaceMaes commented on #233
Thanks for bringing this issue up.

It still seems to be present in v1.12.9 still and is preventing an upgrade to any version above v1.12.1 for me.

[2019-08-20 21:38] 2468ben commented on #233
Same issue here, broken in v1.12.2-1.12.9 and working great in v1.12.1.

[2019-08-28 22:20] ygongdev opened #269 "Introducing accessibility support"
Hi @jgwhite and other contributors,

We're currently using `ember-sortable` at my company. As you may know, `ember-sortable` does not provide an adequate amount of built-in a11y support. Because of this, I prototyped a drag-drop MVP with similar API as `ember-sortable` that comes with built-in a11y support. The main goals achieved here was to:
- Minimize the need for consumer to implement `a11y` f

[2019-08-29 08:51] jgwhite commented on #269
Hi @ygongdev. I think I speak for everyone when I say this is super exciting and we definitely want to incorporate your ideas.

The challenge, as ever, will be adding these changes in incrementally and preserving backwards compatibility where possible.

@H1D has also been doing some great work in this area, starting with #238. We realized after merging #238 that any changes to the interface that w

[2019-08-29 11:26] kdamball commented on #256
@ygongdev I managed to find the bug related to [your comment above](https://github.com/heroku/ember-sortable/issues/256#issuecomment-498469701). When combined with [this issue](https://github.com/heroku/ember-sortable/issues/234), or rather [it's fix](https://github.com/heroku/ember-sortable/issues/234#issuecomment-498589111) - it sorts as expected.

**TL;DR**: add to you Sass files
[code]

[2019-08-29 11:53] H1D commented on #269
Hi! My Timezone is GMT +3
Probably fastest way to agree on time is to use https://doodle.com?

[2019-08-29 15:18] ygongdev commented on #269
@jgwhite, @H1D
Awesome, I'm looking forward to this! My timezone is GMT -7. I'm ok with doodle.
#238 looks awesome and looks like the architecture that I have in mind as well :)

Here's some additional details to demonstrate what I want to bring to you guys, which we can dive into more details in our meeting.

Here's a vanilla JS codepen demo of what kind of a11y support I'm expecting to bring int

[2019-09-03 08:59] jgwhite commented on #269
@ygongdev I just had a play with the codepen. The keyboard control is awesome and the feedback you get via VoiceOver is absolutely amazing.

[2019-09-03 09:08] jgwhite commented on #269
I’ve created a Doodle poll: https://doodle.com/poll/b8yuzdy29qh8kp2x

Hopefully we can find a slot that works.

[2019-09-03 18:11] mdbiscan commented on #234
I'm seeing an issue here as well. Adding the CSS fixes a bug in Firefox, where the last moved item loses its draggability without displaying errors. However, the onChange event still never fires. I'm on FireFox 68.0.2 for Ubuntu.

[2019-09-06 14:18] jgwhite commented on #269
Thanks for voting. Just sent out a calendar invite.

[2019-09-09 17:07] mdbiscan opened #272 "Reorder is not defined in tests"
`reorder` is not defined in tests. I followed instructions for adding `import './ember-sortable/test-helpers';` into `/tests/helpers/start-app.js`. I had to create the start-app file. I'm on Ember Version: 3.12.

Sorry, its not really clear how to make this work.

[2019-09-09 18:24] ygongdev commented on #272
I think `3.12` does not use `registerAsyncHelper`, so you can not import `drag` or `reorder` into the `start-app` and expect it to work globally.  Have you tried directly importing it inside the individual test file(s)?

[2019-09-10 12:53] mdbiscan commented on #272
I have tried importing it directly in the test, but it did not seem to work or I'm not sure how to add it to hooks? I'm having a hard time finding information on this.

[2019-09-10 15:13] ygongdev commented on #272
Yup, I've been trying to rewrite the helpers without breaking their API interface, so you can use them like so.
[code]
But I'm facing some async issues with making `reorder` working deterministically, so that will take me awhile.

[2019-09-20 18:23] ygongdev opened #273 "1.x to 2.x Migration RFC"
[Rendered](https://github.com/ygongdev/ember-sortable/blob/migration-doc/V2_MIGRATION_RFC.md)
Please review the RFC. Any comments  would be appreciated.
@jgwhite @H1D @chriskrycho @drewlee

[2019-09-21 04:19] chriskrycho commented on #273
Thanks for writing it up! For reference, so folks can easily comment inline on it, here's a link to the branch compared against master (which I'll update later if need be): https://github.com/ygongdev/ember-sortable/commit/migration-doc

[2019-09-23 03:34] ygongdev commented on #273
Good callout haha.
I created a PR, so we can

[2019-09-23 07:59] jgwhite commented on #273
Thanks so much for writing this up. It’s awesome.

I’d encourage you to add a rough release plan to this RFC. Trying to introduce all the features mentioned in the RFC (alongside a good migration story) all in one release sounds too ambitious to me.

i.e.

[code]

[2019-09-23 16:36] ygongdev commented on #273
@jgwhite

Good idea,  I'll try to break it down into multiple version changes.

[2019-09-26 19:01] dbashford commented on #273
Quick question on this... is it possible to get `volatile`/`sendAction` fixes without 2.0 and breaking changes? That in the cards?

[2019-09-26 22:46] ygongdev commented on #273
@dbashford I don't have much context on `volatile`, but if the solution is migrate it into native classes, we would also need to bump the `Ember` version to `3.x.x`, which might introduce some other breaking changes, so might as well do it all in one.

Also for `sendAction`, I think that's very do-able, either convert to `this.{actionName}` or use `tryInvoke` if the action might not exist.

@jgwhi

[2019-09-27 02:43] chriskrycho commented on #273
I’ll be reviewing the RFC in detail tomorrow! More thoughts then!

[2019-10-05 21:32] ygongdev opened #281 "2.x.x todo list"
This is used to track progress to `2.x.x`

- [x] Remove mixin -> #270
- [x] Test suite upgrade -> #271
- [x] SendAction deprecation -> #282
- [x] Closest polyfill for IE -> #280
~~- [ ] Ember upgrade~~
- [x] Converting components into closure components
- [x] Migration Guide
- [x] Keyboard support
- [x] Visual Indicators
- [x] Screen reader announcement

[2019-10-05 21:50] ygongdev commented on #241
PR merged, so I'm closing this.

[2019-10-05 21:50] #241 closed

[2019-10-05 22:12] ygongdev opened #283 "Needs more test coverage"
I don't think we have a good enough test coverage for all of the existing functionalities. e.g, making sure events are triggered correctly in different scenarios.

[2019-10-06 01:02] ygongdev commented on #273
FYI, I created a new branch `latest-1.x.x` to record the latest backwards compatible master. This is done so we can proceed to active develop on `master` with backwards incompatible changes.

[2019-10-10 06:05] ygongdev commented on #256
Change merged in #271

[2019-10-10 06:05] #256 closed

[2019-10-10 06:09] ygongdev commented on #272
Closing as change was made in #271
This will be release with the next `2.0.0` release

[2019-10-10 06:09] #272 closed

[2019-10-17 06:20] ygongdev opened #288 "Horizontal sorting is weird"
**Describe the bug**
Sometimes, the horizontal sorting behavior doesn't sort properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the demo
2. Try sorting the horizontal items.
3. Repeat until you see the weird order.

**Expected behavior**
Should always be sorted properly.

[2019-10-17 06:28] #213 closed

[2019-10-25 06:23] ygongdev opened #291 "Integrate automated code docs"
I'm thinking something along the lines of JSDoc...?

[2019-10-27 04:10] ygongdev opened #292 "Deduplicate keyboard util helper"
I had to duplicate the keyboard util to utilize the util during testing as well.
Need to figure out a way to remove it.

[2019-10-28 04:50] ygongdev commented on #269
All the a11y support has been added. Will be working on chores, upgrades, updating documentation and creating migration doc to get ready for the new release!

[2019-10-28 04:50] #269 closed

[2019-10-29 20:44] ygongdev commented on #281
Done

[2019-10-29 20:44] #281 closed

[2019-10-31 12:59] gtb104 commented on #281
Was 2.0 published to NPM? It's still showing 1.12.10 as the latest.

[2019-10-31 13:37] #273 closed

[2019-10-31 13:44] ygongdev commented on #281
@gtb104 sorry about that, just got the publish access, it’s published now!

[2019-10-31 17:47] aandis opened #304 "2.0.0 Could not find module ember-test-waiters imported from ember-sortable/components/sortable-item"
**Describe the bug**
After upgrading to `2.0.0` you see the error -

**To Reproduce**
Upgrade to `2.0.0`

**Expected behavior**
Addon should work normally.

**Screenshots**
![error](https://user-images.githubusercontent.com/4983347/67972348-80263f80-fc34-11e9-82e3-e7d2a6477d28.png)

[2019-10-31 19:01] ygongdev commented on #304
@aandis 🤔
Thanks for the report, I'll look into it.
I think it's because `ember-test-waiters` was only added in `devDependencies`.

[2019-10-31 19:17] ygongdev commented on #304
Does this prevent you from using the addon entirely? I'll release a patch soon

[2019-10-31 19:49] aandis commented on #304
Yeah. Thanks for looking into it so quick.

[2019-10-31 21:11] ygongdev commented on #304
Ok, I just released `2.0.1`, let me know if that solves your issue.
Please report any more bugs that you find. Thanks!

[2019-11-04 14:09] gtb104 opened #306 "Uncaught TypeError after 2.0.1 upgrade"
**Describe the bug**
Getting Uncaught TypeError after upgrading to 2.0.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Going to a page that has an ember-sortable component causes an Uncaught TypeError, and the page fails to load.

**Expected behavior**
No errors

**Screenshots**
![image](https://user-images.githubusercontent.com/1440968/68126294-7c6b1500-fee1-11e9-972b-8e77b0707e4b.png)

[2019-11-04 14:11] gtb104 commented on #304
For me, 2.0.1 fixed this import error.

[2019-11-04 14:25] gtb104 commented on #306
I forgot to mention, the `method` it can't find is `registerItem`.
![image](https://user-images.githubusercontent.com/1440968/68128084-0ec0e800-fee5-11e9-9a31-d87addc53350.png)

[2019-11-04 15:55] ygongdev commented on #306
Sounds like this is failing for you on the initial load? That seems very odd as registerItem is definitely a method on the sortable-group

[2019-11-04 17:19] BnitoBzh commented on #306
Fails for me too, same issue. Ember 3.13.x
_This v2.x seems to be be very unstable_

[2019-11-04 17:24] BnitoBzh commented on #306
Why not pass group's methods directly in the yield definition ?
With this behavior all `group=group` can be removed (from `sortable-item` calls)

[2019-11-04 17:36] BnitoBzh commented on #306
Ignore my previous comment, the README file is not up-to-date. It could be fixed...

I think the `_tellGroup` method must be like this :

[code]

[2019-11-04 17:42] ygongdev commented on #306
@BnitoBzh Good catch on the `README.md`. I'll fix that up.
I'll try to take a look today at why this might fail. Because the `demo` seems to be working perfectly fine. If this is an actual issue, I need to understand the root cause and add some test cases to cover it.

[2019-11-04 17:49] michaeldrotar opened #307 "Keyboard drag/drop doesn't move differently sized items correctly"
**Describe the bug**
When using differently-sized items, mouse-drag works as expected, but keyboard drag can overlap items rather than moving them into the empty spaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to demo page: https://adopted-ember-addons.github.io/ember-sortable/demo/
2. Use dev tools to add more text to one of the items so that it's bigger (might be nice to officia

[2019-11-04 18:01] ygongdev commented on #307
Thanks for the report, are you able to reproduce this everytime when you re-order? I wasn't able to reproduce it :(

I think there might sometimes be a race condition in the reorder flow, so if you're able to consistently to reproduce it, let me know because it would make it easier for me to debug and fix long-term

[2019-11-04 18:01] #304 closed

[2019-11-04 18:08] BnitoBzh opened #308 "Conflict between Keyboard drag/drop and inputs"
If the sortable item contains an input, the space key does not work because the sortable component catch the keyboard event.

When a form element (input element -- all types, select element...) is present in the sortable item, the keys used for the Keyboard drag/drop must NOT be catched by the sortable component (default form behavior must be priorised).

[2019-11-04 18:12] ygongdev commented on #308
Thanks for the report, so effectively you have something like the following and the keyboard events on the `input` is also caught on the `item`? Or are you trying to use keyboard on the `item` but also have the event caught by the `input`?
[code]

[2019-11-04 20:22] michaeldrotar commented on #307
@ygongdev hm yup everytime using both mac and windows, latest chrome, even tried refreshing the browser in case the race condition was during load. It's perfectly consistent for me when using the keyboard.

Here's a fresh refresh.. I added text to Dos and am in the process of moving Uno to the bottom.

![image](https://user-images.githubusercontent.com/820263/68154949-b571ac80-ff16-11e9-8f15-6719e

[2019-11-04 21:18] ygongdev commented on #307
@michaeldrotar Ah I see thanks! I know what's wrong now. Need to re-visit how to recompute the positions when using keyboard.

[2019-11-05 15:31] lukebenimble opened #310 "Computed .volatile() deprecations"
Just trying to tidy up my deprecation warnings and currently there are multiple computed property .volatile() warnings emanating from components/sortable-item.

Not a breaking issue at the moment, but will become one eventually - https://deprecations.emberjs.com/v3.x/#toc_computed-property-volatile

Happy to help with this, let me know if you'd like me to submit a PR.

Thanks for the great addon.

[2019-11-05 16:58] ygongdev commented on #310
Hey an effort was made in `1.x.x` in #276
Feel free to tackle this via a PR for `2.x.x`

[2019-11-05 17:18] ygongdev commented on #306
If anyone can reproduce this via a twiddle, it would help me tremendously to drill down the issue.

[2019-11-05 17:31] ecoutlee-hortau opened #311 "Build error after updating to v2.0.1"
**Describe the bug**
I got a build error after updating to v2.0.1. See screenshot below. The app is on Ember 3.12.x (currently updating), node 10.16.3 and use engine with lazy loading.

**To Reproduce**
Steps to reproduce the behavior:
Update to v2.0.1

**Expected behavior**
Be able to build normally.

**Screenshots**
![build_error](https://user-images.githubusercontent.com/46380280/68230905-04c3e

[2019-11-05 18:31] ygongdev commented on #311
Thanks for the report. I'm not quite sure I understand the source of the error.
After a quick search, looks like this might be problem pertaining to `ember-engine`.
https://github.com/ember-engines/ember-engines/issues/400

[2019-11-05 18:42] ecoutlee-hortau commented on #311
Thanks for the hint. I will continue to search for a solution. Maybe the issue on ember-engines will help me a little. It's probably related I had a similar issue with ember-tooltips because of ember-engines with lazy loading. No solution has been found yet.

[2019-11-06 19:22] hingoman25 opened #314 "Sortable group is not re-render when passed in model is modified"
**Describe the bug**
This isn't a bug but I'm confused about how to implement this addon to my already existing code. Currently, I have a field for phone numbers in which a user can click an add button or a minus button to customize how many phone numbers they want to add to the list.

The "model" gets updated as the user adds or removes phone numbers. Would anyone here know how to use this addon

[2019-11-06 21:24] ygongdev commented on #314
Can you show what you've tried?
I don't exactly understand what you're trying to use it for here

[2019-11-06 21:33] hingoman25 commented on #314
If a user has multiple phone numbers, I'd like them to be able to drag and reorder them in case they want to change the order later. And when they reorder the phone number, I mean that they can reorder everything within the ul tag which includes the minus button, phone number field, and type dropdown menu.

Here's what I have right now:

![Screen Shot 2019-11-06 at 1 32 55 PM](https://user-images.

[2019-11-06 21:52] ygongdev commented on #314
I see. Can you elaborate what is currently not working? Is the reordered models not being passed currently to `reorderNumbers`?

[2019-11-06 22:36] grapho opened #315 "sortable-handle does not render if invoked within another yielded block"
**Describe the bug**
The invocation/rendering of sortable-handle silently fails, you you attempt to use it within a yielded block of another component.

**To Reproduce**
My Scenario:
[code]

**Expected behavior**

- I expected the drag handle to render within the dom of my yielded component block
- Instead, the entire item becomes draggable

**UPDATE**
- I realized the cause is from using a condit

[2019-11-06 23:52] hingoman25 opened #316 "Cannot reorder without drag icon if we are reordering a text input"
**Describe the bug**
I want to reorder fields that include multiple inputs. The ember-sortable addon does not work with this unless there is an item handle that is specified.

***Reproduce the bug***
To reproduce this, use the addon on a list of <inputs> and make sure there is no item handle to drag it.

[2019-11-07 00:00] ygongdev commented on #314
Solved as the issue was the dependency was still on `1.2.10`

[2019-11-07 00:00] #314 closed

[2019-11-07 21:37] #315 closed

[2019-11-07 22:45] ygongdev commented on #316
Are you dragging the `input` directly? or the container that contains the `input`. The first one might have problems.

[2019-11-08 05:01] ygongdev commented on #195
Closing as it is addressed in `2.0.0`

[2019-11-08 05:01] #195 closed

[2019-11-08 05:02] ygongdev commented on #153
Closing as keyboard support is fully built.

[2019-11-08 05:02] #153 closed

[2019-11-08 10:44] alessandro-riz opened #319 "Conflict with space and enter Keyboard inside input field"
**Describe the bug**
If you have an input inside the group.item element you can't use space or enter character inside the input

**To Reproduce**
[code]

[2019-11-08 11:34] ygongdev commented on #319
Hi what version are you on?

[2019-11-08 13:12] alessandro-riz commented on #319
2.0.1

[2019-11-08 13:22] ygongdev commented on #319
Try upgrading to 2.0.2. It should be addressed

On Fri, Nov 8, 2019 at 5:12 AM Poppix <notifications@github.com> wrote:

[2019-11-08 19:44] hingoman25 opened #320 "Dragged item is being overlapped by other items even with z-index"
**Describe the bug**
When I drag an item some parts of another item overlap it. Also when I drag an item, it sometimes goes underneath another list item which does not seem like normal behavior. All dragged items should hover above other items.

**Expected behavior**
I expect the dragged item to always hover over other items when dragged.

**Screenshots**

![example](https://user-images.githubuser

[2019-11-08 19:50] knownasilya commented on #320
Looks like there are two issues, one is that your item has a transparent background when dragged, but the other issue is related to order. The order issue is a bug I believe, but the other should be solved on a per implementation basis, so in your app.

[2019-11-08 19:52] knownasilya commented on #316
Not sure this is a bug, because you should have a handle for accessibility and UX reasons any way.

[2019-11-08 19:59] hingoman25 commented on #320
I should have included the code for the background but even with the dragged item's background set to a solid white, the issue still occurs. If you look closely, it only occurs when the dragged item passes through half of the stationery item. I might have to look deeper into this issue but just wanted to check whether you guys have seen this behavior before.

[2019-11-08 20:01] knownasilya commented on #320
@hingoman25 any chance you could make a repo with the reproduced example in it?

[2019-11-08 21:17] hingoman25 commented on #320
Unfortunately, it's company code so I won't be able to post it. I will try it figure it out since it's most likely an issue with my code. As for the order issue, how should we go about fixing that?

[2019-11-08 22:33] hingoman25 commented on #320
Found a fix: set the .sortable-item.is-dragging selector to position relative and a z-index of 10 or any other large number!

[2019-11-09 06:19] #320 closed

[2019-11-09 06:20] ygongdev commented on #307
@michaeldrotar try upgrading to `2.0.2` this should be fixed. I'll update the demo with an example as well.

[2019-11-09 20:49] michaeldrotar commented on #307
@ygongdev I can confirm 2.0.2 is working for me locally now, great job!

[2019-11-09 21:00] #307 closed

[2019-11-09 21:14] ygongdev commented on #319
Feel to re-open if it is still happening after `2.0.2`

[2019-11-09 21:14] #319 closed

[2019-11-09 21:14] ygongdev commented on #316
Feel to re-open if it is still happening after `2.0.2`

[2019-11-09 21:14] #316 closed

[2019-11-09 21:14] ygongdev commented on #308
Feel to re-open if it is still happening after `2.0.2`

[2019-11-09 21:14] #308 closed

[2019-11-09 21:18] ygongdev commented on #311
Closing this for now as it seems to be a problem with `ember-engine`'s lazy loading. Feel free to re-open if it is not the case.

[2019-11-10 00:29] ygongdev commented on #310
Should be handled in `2.0.3` release.

[2019-11-10 00:29] #310 closed

[2019-11-18 17:22] grapho commented on #291
Speaking of documentation.. what is the status of test helpers? Importing via `import { drag } from 'ember-sortable/test-helpers` does not work as documented. I'm getting "module not found" error on 2.0.1

[2019-11-18 17:48] knownasilya commented on #291
looks like it's now `import drag from 'ember-sortable/test-helpers/drag';`

[2019-11-18 18:47] ygongdev commented on #291
@grapho Does `import { drag } from `ember-sortable/test-helpers/drag` work?
Looks like we need to re-export it from `ember-sortable-test-helpers` to make it easier.

[2019-11-18 22:40] ygongdev commented on #306
FYI, I've seen a similar error, if the action you provide is a string. This fails due to the removal of `sendAction`,e.g
Bad
`onChange="onChange"`
Good
`onChange=(action "onChange")`

[2019-11-19 00:55] ygongdev commented on #291
Regardless I'll have some more time to play with this as I integrate this library into my own app. Will update the README once I figure out what final behavior should look like.

[2019-11-19 04:06] ygongdev commented on #291
@grapho My bad, my oversight. #328 should allow you to do
[code]

[2019-11-19 21:40] ygongdev opened #333 "Consuming app production build might break"
**Describe the bug**
For some apps with certain configuration, the app build might break and throw the following error message, which seems to come from the integration of the `closest` polyfill.
[code]

**To Reproduce**
Not always reproducible, only on certain apps.

**Expected behavior**
App should build successfully.

**Screenshots**

**Additional context**
For now, we don't `import` the `close

[2019-11-20 00:40] ygongdev commented on #311
@ecoutlee-hortau can you check if `2.0.6` mitigates your problem?
Basically I disable the polyfill if your build can't find it. I'll be looking for a long term solution meanwhile

[2019-11-21 21:18] mattgraham1995 commented on #306
@ygongdev I've managed to reproduce the issue that I'm facing in a twiddle. It looks like `_tellGroup` is getting called with `"registerItem"` as the method parameter on initial load of the page. This is the same issue that my tests fail with so I think it is the same.

Take a look here: https://ember-twiddle.com/13854f9271896ef40f49aba938abb496?openFiles=templates.components.my-component.hbs%2Cte

[2019-11-21 22:48] ygongdev commented on #306
@mattgraham1995 Thank you for the twiddle! I'll try to root cause this.

[2019-11-22 06:01] ygongdev commented on #306
@mattgraham1995 @gtb104 @BnitoBzh
Please try `2.1.0-beta.0`. I believe the issue should be resolved now.
I was able to confirm with this twiddle
https://ember-twiddle.com/ced74cdf949e8f09b43ecc47d258c3ea?openFiles=twiddle.json%2Ctemplates.components.other-component.hbs

[2019-11-22 19:52] mattgraham1995 commented on #306
@ygongdev Thanks for addressing this Jerry. I can confirm that `2.1.0-beta.0` fixes the issue mentioned here. I'm running into another issue now where `_update` in the `sortable-group` component is failing an assert on `set` because it is trying to set on an item that is in the process of destroying. Problem line is here: https://github.com/adopted-ember-addons/ember-sortable/blob/master/addon/com

[2019-11-22 19:59] ygongdev commented on #306
@mattgraham1995 can you link the twiddle where it's suppose to fail?
It could be an issue of a component being destroyed while we're still performing the `update`.
Can you describes the steps you took to produce it? Thanks!

[2019-11-22 20:05] ygongdev commented on #306
Or it could be a separate issue depending on what your addon is doing, for example, removing an item from the group etc.

[2019-11-22 20:08] mattgraham1995 commented on #306
I'm still trying to reproduce it in a twiddle, but in my addon the error occurs after dragging an item to reorder. There's no removal or anything happening so I'm not sure why the items are being marked for destruction.

[2019-11-22 20:29] ygongdev commented on #306
Mind sharing the structure of your addon and how you're invoking everything?

[2019-11-22 23:54] mattgraham1995 commented on #306
@ygongdev Okay I've solved my issue. As I suspected, it was a problem with the way my dummy app was mocking some actions. Thanks for the quick fix with this issue!

[2019-11-23 00:02] ygongdev commented on #306
@mattgraham1995 awesome! I'll close this issue for now then and cut an official release

[2019-11-23 00:03] #306 closed

[2019-11-25 20:24] drewlee opened #336 "Drag handles should contain button ARIA role"
The elements which initiate the accessible sort operation need `role="button"` in order to provide proper context for screen reader and other assistive tech users. Otherwise, users are left unaware that these elements are interactive and actionable.

Steps to reproduce the behavior:
1. Go to the ember-sortable [demo page](https://adopted-ember-addons.github.io/ember-sortable/demo/).
2. Enable Voic

[2019-11-25 21:13] ecoutlee-hortau commented on #311
@ygongdev yes `2.0.6` seem to work normally. While looking around about this issue I found this discussion: ember-engines/ember-engines#646. Maybe it will help you to find a solution.

[2019-11-25 21:24] ygongdev commented on #311
@ecoutlee-hortau Great find, I'll look into that and see if we can solve this problem permanently.

[2019-11-27 22:52] rwwagner90 opened #337 "is-dropping never removed"
When I drag and drop to reorder, it works, but then `is-dropping` is not removed, which means I cannot drag that item again.

[code]

[2019-11-27 23:05] rwwagner90 commented on #337
Duplicate and workaround is here https://github.com/adopted-ember-addons/ember-sortable/issues/234#issuecomment-498589111

[2019-11-27 23:05] #337 closed

[2019-12-03 06:18] ygongdev opened #338 "deregisterItem is calling registerItem internally."
**Describe the bug**
A clear and concise description of what the bug is.
deregisterItem is calling registerItem internally.

**To Reproduce**
Steps to reproduce the behavior:
1. Write a `onChange` action that will trigger the `willDestroyElement` hook on `sortable-item`, e.g replacing only one model.
2. The second drag and drop behavior will complain about `set` on `destroyed` object.

**Expected

[2019-12-03 06:19] ygongdev commented on #338
related commit: 29fc64155bf9ca9e5bf218b701375f4cc1bbf0a0

[2019-12-03 06:47] ygongdev commented on #336
Thanks Andrew, the fix should be in 828cace905ab7cfda840cc328cfccc17c70833c2

[2019-12-03 19:33] #338 closed

[2019-12-03 19:34] #336 closed

[2019-12-06 20:06] aandis opened #339 "Drag-drop/clicks don't work with nested components"
**Description**
If the `item` inside `{{#item.handle}}` or `{{#group.item}}` is an ember component, this addon has some serious issues. I'll outline a few of them -

1. Each item can only be dragged once.
1. On mobile devices, the drag and drop doesn't work at all.
1. Any touch events/button clicks don't work on mobile devices

**To Reproduce**
1. Go to [twiddle](https://ember-twiddle.com/4d4bdfcd

[2019-12-06 21:42] ygongdev commented on #339
@aandis thanks for the report.

1. There is an existing issue with some usages where it requires you to supply the `transition` animation in order to trigger the `transitionend` logic that the addon depends on.
2. In your `reorderItems` action, you need to explicitly set the new order or the UI will not be updated.
3. Seems like button click is indeed not working on mobile, can you please file a s

[2019-12-07 19:18] aandis commented on #339
Thanks @ygongdev. Adding the `transition` styling fixed the first issue. Unfortunately, I'm still not able to drag and drop on mobile devices on my app. Works fine on the twiddle so I'm not sure whats up. Any pointers to debug this would be great.

Happy to open a separate ticket for 3rd.

[2019-12-09 04:24] aandis opened #340 "Button clicks dont work on mobile devices for nested components"
**Describe the bug**
If the `item` inside `{{#item.handle}}` or `{{#group.item}}` is an ember component with buttons, button clicks dont work on mobile devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [twiddle](https://ember-twiddle.com/55d047c6a8fb29a9f7a6018c8bcd9501?openFiles=templates.index.hbs%2Ctemplates.components.my-component.hbs).
1. [Simulate](https://developers.googl

[2019-12-09 04:26] aandis commented on #339
@ygongdev also, I think it'd be helpful to others if the transition bit is documented in the readme. :)

[2019-12-09 04:51] aandis commented on #339
@ygongdev still no luck with this. The elements don't respond to any touch events altogether (even if they're not inside nested components). I'm hoping resolving #340 solves this as well.

[2019-12-09 17:28] ygongdev commented on #339
@aandis yeah good idea, I'll probably update the readme sometime soon. I'll work on #340 when I have some free time.

[2019-12-11 18:37] cah-briangantzler commented on #231
Saw this addon promoted on the 31 Days of Ember and thought we would give it a try. On the very first attempt on what I thought would be a simple use, we ran into exactly this problem, but it appears is going on a year and not yet resolved.

Not sure how transition:all is being set on our element, assuming that its in a class somewhere, or we use ember-animated and it is adding it.

Would sure lov

[2019-12-11 19:02] ygongdev commented on #231
@cah-briangantzler thanks for bringing this back to light. Do you mind reproducing your issue via a twiddle?
AFAIK, any issues around transitionend not being fired can be resolved by supplying an animation in order to trigger the event.
https://github.com/adopted-ember-addons/ember-sortable/issues/234#issuecomment-498589111

A long term solution would probably involve refactoring the logic to not

[2019-12-11 19:56] cah-briangantzler commented on #231
Given the solution and comments, I would think any default simple example would show the problem since `transition-property: all` seems to be the default. I do now see that the example css from the solution is in the readme, but it doesn't say the css is required to make it work.

Had really wanted to use it with Yeti Table, but I see the group is coded to a `ul` or `ol` and the items are `li`. Wo

[2019-12-11 20:41] ygongdev commented on #231
Yeah unfortunately, there are still some gaps to be filled in terms of documentation and doing things the "right" way.

I haven't had the chance to try the addon with the new fancy glimmer syntax yet. At the moment, the only way to change the `tag` is to override the `tagName` when you're consuming it.

Perhaps, I can explore turning the addon into a tagless, but I'm unfamiliar with the backward-c

[2019-12-11 22:24] lupestro opened #341 "Drag/drop a lot pickier at edges than between items, at least in direction=x"
**Describe the bug**
I have a row of from two to five items. Reordering items toward the middle of the row is very smooth and easy. However, moving an item to the edge requires pretty precise placement in order for it to "stick" rather than revert to the original position.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a single row of sortable-items that just fit within the sortable-gr

[2019-12-11 22:33] cah-briangantzler commented on #231
Tagless is not only glimmer, you can do tagless in all version by just saying tagName: "". This does however remove the ability to use the override methods like click. However with modifiers you can replace this behavior.

I did not see what the backward compatible target is for this add on. The modifier polyfill goes back to 2.13. Would that be an acceptable limit if I were to do a pull request?

[2019-12-11 23:16] ygongdev commented on #231
No objections to any PRs :)
However, it seems like we currently support 2.8^, so we would need to drop those
@jgwhite What are your thoughts?

[2019-12-11 23:18] ygongdev commented on #341
Yeah, I remember something weird on horizontal cases. Can take a deeper look when I have some time. I suspect some calculations might be off

[2019-12-12 06:47] jgwhite commented on #231
@ygongdev how about officially supporting ember `> 3.0.0` and anything earlier is just a happy coincidence?

[2019-12-12 13:13] Macxim commented on #184
This issue is still happening, even with `v2.1.1`. I can't re-open myself but I think this should be investigated.

[2019-12-12 17:38] ygongdev commented on #231
@jgwhite 👍 might also be a good excuse to bring in some of the `ember 3.x.x` goodies.

[2019-12-12 18:40] cah-briangantzler commented on #231
Yea, looking at the polyfills.

So here is what Im thinking.

[code]

You could then easily re-write the current components as tagless and put the `ul` in the hbs and use the modifier, then yield the item component as tagless and the `li` in the hbs using the modifier. Basically everything should work exactly as it is now but using modifiers under the covers.

Now that the modifiers are available

[2019-12-12 20:03] ygongdev commented on #231
@cah-briangantzler the syntax looks promising. Is angle bracket invocation a requirement for modifiers (from just looking at your example). What will it look like with the good old `mustache`?

I think it would make sense for us to move this conversation to somewhere else (perhaps new issue).
Thanks for taking this on!

[2019-12-12 20:54] cah-briangantzler opened #342 "Proposed Syntax with Modifiers"
Modifier version with a more streamlined interface

[code]

Modifiers will allow this addon to be used with other addons like ember-table, ember-yeti-table, ember-models-table

Modifiers are not meant for classic syntax, so to use these you would have to use angle-bracket syntax

Addons that would be used to do this:
ember-modifier-manager-polyfill     > 2.12 .   < 3.8
ember-modifier    > 3.4

[2019-12-12 20:55] cah-briangantzler commented on #231
This discussion has been moved to a https://github.com/adopted-ember-addons/ember-sortable/issues/342

[2019-12-12 21:52] cah-briangantzler commented on #342
I found this https://github.com/emberjs/rfcs/pull/112#issuecomment-175573531 . Anyone know if `element-modifier` made it into modifiers? That would be extremely helpful

[2019-12-13 19:16] cah-briangantzler commented on #342
element-modifier as a helper does not appear to exist, but I have it mostly working. Theres a lot of code I copied and pasted and feel I am sure I missed some. Hopefully tests will tell me where that it.

Husky threw me, wasnt aware of that but pretty cool. Going to try that out in my own repos

[2019-12-15 19:09] cah-briangantzler commented on #342
I have edited the purposed syntax based on a couple of things I found while implementing.

[2019-12-18 00:43] cah-briangantzler commented on #342
So there are a few things I dont like about this, specifically the yielded API and having to pass it around. But there is no modifier helper like there is for component, but been doing some thinking and I think I can actually pull off the below syntax which is pretty unbelievable. The a11y params would go on sortable-group as before.

[code]

[2019-12-18 19:32] #231 closed

[2019-12-19 02:57] cah-briangantzler commented on #342
I have updated the initial proposed syntax for the new streamlined version. There is no longer a Sortable component at all. For each original component there is a corresponding modifier. So converting from one to the other is a very simple conversion.

[2019-12-19 08:42] aandis commented on #339
hey @ygongdev any update on this? I'm happy to help out on this if you point me where to look.

[2019-12-21 20:45] sharpshark28 commented on #234
Thanks for this css fix, I ran into this on Firefox just today.

[2019-12-29 03:01] ygongdev commented on #339
@aandis sorry I've been pre-occupied with other tasks. I would start by looking at the sortable-item.js, and methods like `_scrollOnEdges`.

[2020-01-08 18:24] gtb104 commented on #306
Sorry, just had a chance to look at this. I'm seeing a different, but similar issue now that I'm on the latest (2.1.1). The below errors are seen on page load.
![Screen Shot 2020-01-06 at 2 47 01 PM](https://user-images.githubusercontent.com/1440968/72004436-6c412000-3219-11ea-9d78-72df2373877f.png)
The HBS is the same as above.

[2020-01-08 18:37] gtb104 commented on #306
![image](https://user-images.githubusercontent.com/1440968/72005588-f12d3900-321b-11ea-8926-246474b6893a.png)

[2020-01-09 19:56] ygongdev commented on #306
@gtb104 can you list the steps to reproduce your error?
I'm guessing this isn't from the initial load of the component, but rather after some sort of operation ,e.g after a reorder.

[2020-01-09 19:57] ygongdev commented on #306
Might be worthwhile to move this discussions to a new ticket, as it is a different error from this closed ticket.

[2020-01-13 13:25] gtb104 commented on #306
I'll try to gather some more info on the error I'm seeing and open a new issue. It will take about a week for me to do this as I'm tackling another issue at the moment.

[2020-01-14 19:15] gtb104 commented on #306
My bad. It was an error in one of the other uses of ember-sortable on the page that was causing the issue. All seems well!

[2020-01-16 18:40] cah-briangantzler commented on #342
Any possible movement on this?

[2020-01-16 20:23] ygongdev commented on #342
@cah-briangantzler sorry for the wait, I'll try to take a look at this later this week.
Let's drop anything lower than `ember3.8` in our `ember try testing`, so the CI can properly reflect the test results.

[2020-01-16 20:27] cah-briangantzler commented on #342
Im not able to do that am I? Or are you asking me to change the ember-try config?

[2020-01-16 21:55] ygongdev commented on #342
Yes you are able to  do that. I think you just need to remove the scenarios from the `.travis.yml`.

[2020-01-22 03:16] chriskrycho commented on #342
Was just thinking about this. I'm not sure I'll have time to evaluate any design proposal this week, unfortunately—don't consider yourselves blocked on me!

[2020-01-27 23:51] validkeys opened #346 "Sortable items dragged to top, break in container with overflow:auto due to event.clientY = NaN"
**Describe the bug**

In the following twiddle [https://ember-twiddle.com/64df3180660c8d3e58830a3d532e5370?openFiles=twiddle.json%2C](https://ember-twiddle.com/64df3180660c8d3e58830a3d532e5370?openFiles=twiddle.json%2C) there is an overflow container containing the scrollable group. You'll notice that dragging any item to the very top and releasing will typically result in the element returning to

[2020-01-28 02:12] ygongdev commented on #346
A PR with a test (if possible) would be greatly appreciated!

[2020-01-28 14:59] validkeys commented on #346
Thanks @ygongdev. I'm struggling to create an acceptance test at the moment. The issue I've narrowed down to the "_scrollOnEdges" method in the sortable-item component. It calls drag with a fake event containing only the pageY and pageX properties. I'm going to attempt to use vanilla JS event triggering instead of the triggerEvent ember-test-helper and we'll see how that goes.

[2020-01-28 16:00] validkeys commented on #346
Ok I've submitted https://github.com/adopted-ember-addons/ember-sortable/pull/347

[2020-01-29 02:04] ygongdev commented on #346
Closing as PR is merged.

[2020-01-29 02:04] #346 closed

[2020-01-29 02:34] ygongdev commented on #341
@lupestro I think this issue is resolved with `2.1.3` can you see if the new release fixes it?

[2020-01-29 02:36] ygongdev commented on #342
I think the change overall is good. I don't think we need to worry about the failing build b/c it seems like there's some incompatibility with `beta` and `canary` which are on `3.17+`, which is out of our current scope.
I've set aside some time this week to take a look. Apologize for the long delay!

[2020-01-29 03:00] lupestro commented on #341
Just checked. Yes - it’s absolutely lovely now.

[2020-01-29 03:00] #341 closed

[2020-01-29 16:46] ygongdev commented on #288
Closing as I believe #346 fixes it

[2020-01-29 16:46] #288 closed

[2020-01-30 05:01] #342 closed

[2020-01-31 22:10] ygongdev commented on #342
@cah-briangantzler I've released your changes as `2.2.0-beta.0`. Give your awesome work a shot :)

[2020-01-31 22:14] cah-briangantzler commented on #342
Where we needed it we wrote it a different way :) Ill have to create a branch and see how much it will take to upgrade it.

[2020-02-04 10:29] st-h opened #350 "dimension are calculated incorrectly if they vary between elements"
**Describe the bug**
If the sortable elements have different margins, ember-sortable calculates the height of the elements incorrectly, which collapses all margins.

**To Reproduce**
Use the following css to apply margins to sortable elements
`li + li { margin-top: 20px; }`

**Expected behavior**
Existing margins should not collapse.

**Additional context**
This issue has been noticed using the mo

[2020-02-06 10:25] mike183 opened #351 "[2.2.0-beta.0] Modifiers: Breaks when items are loaded asynchronously"
When using the new modifiers syntax, it seems to break with several errors being thrown if the array of items being sorted was loaded asynchronously.

I came across this bug when implementing a component that fetches its data outside of the normal route lifecycle.

After a small amount of debugging, I found that due to the data being fetched asynchronously, [this line](https://github.com/adopted-e

[2020-02-06 10:44] lifeart commented on #351
could dom mutation observer help with it? (to handle new children)
also, ie11 support could be added with https://github.com/bitovi/mutationobserver

oooor

`sortable-group` could have unique id and set is ad data-attr
`node.dataset.id = Math.random().toString(36).slice(2)`

`sortable-item` could have shared namespace and unique id
once `sortable-item` item appear, we can go up to `node.parentNode

[2020-02-07 15:59] st-h commented on #351
I think I noticed a pretty related issue as well. The handle never updates its cursor, so even when the elements are not draggable, the UI still displays elements as draggable. I think we will need a way to track the handle and modify its state from the sortable-item.

Regarding the data loading issue, probably we could also track the number of the items in the group and reinitialize when it chang

[2020-02-08 14:37] st-h commented on #351
I gave it a stab using MutationObserver. I didn't need to define a dependency between handle and item to fixing #353 , so using a MutationObserver seemed to be the cleaner approach. Would be awesome if you could give #354 a review.

The app I am adding ember-sortable to supports async communication via web sockets, so I am pretty sure I would have run into this issue as well at some point.

[2020-02-08 14:47] mike183 commented on #351
@st-h Thanks for working on this! From a cursory glance the code seems fine, I'll try and find time to give this a test on Monday.

Only thing I can think of from the top of my head is whether or not browser support is a concern. MutationObserver is supported by IE11 (which is more than fine for me), but I'm not sure if there are any browser support targets for this add-on?

[2020-02-08 14:57] st-h commented on #351
@mike183 maybe I am missing something, but MutationObserver seems to be supported pretty well: https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver https://caniuse.com/#search=mutationobserver

But now I am wondering, which browsers work with Ember + modifiers?

On another note: I have added MutationObserver to an [Addon](https://github.com/st-h/ember-content-editable) about 2 years a

[2020-02-08 15:05] mike183 commented on #351
@st-h For clarification, I'm perfectly happy with the browser support of mutation observers and using them to resolve this issue.

My comment was mainly aimed at IE, as I'm not familiar enough with this add-on to know whether or not the maintainers usually aim to support versions of IE older than 11.

[2020-02-08 15:09] st-h commented on #351
@mike183 all good :) I meant to say that this PR only affects the modifier version of the addon and I don't think there is support for < IE11. But I wasn't able to confirm that with a quick search. If I remember correctly ember dropped support for < IE11 quite a while ago, but probably someone else has more reliable data on that.

[2020-02-08 15:50] cah-briangantzler commented on #351
The way it was written is that sortable-group looks up the sortable-items. It was easier that way. I think what really needs to happen is that sortable-item registers itself with the sortable group. This would require looking up the stack for an element marked as a sortable-group. If the item is removed, remember to re-register it.

I had thought about this when writing it, if someone put an if ar

[2020-02-08 15:56] st-h commented on #351
That still will not work for apps that support async communication using web sockets, right?

However, I actually did not think about things like the item that is dragged could be deleted while being dragged. There still might be some weird edge cases.

[2020-02-08 16:15] cah-briangantzler commented on #351
Your right. Websockets would be an issue.

When the drop occurrs, the action doesnt send what was moved where, but the entire new array in the the sorted order, which most use cases would just replace the original array and allow the for each to re-render.  Any chance of other items being added or removed from the array during that could, could make the new sorted array issued by the drop action e

[2020-02-09 18:35] cah-briangantzler commented on #351
I noticed that on group register/deregister were still there even though no longer used. I removed the lookup of items on group install and instead register the items as they are created. Since the items are created before the group, had to schedule the register.

This should solve your problem in a more ergonomic way without needing to observe the mutations on the DOM

I totally stole your test b

[2020-02-10 09:14] st-h commented on #351
I think it there should not be much of a difference as the observer would only observe the items within the root element. (so, we usually would just be observing a bunch of `li` elements).

Always looking up on install has the downside that we will be doing a lot of unnecessary lookups on regular install just to fix the edge case of async loading.

Depending on the size of the list, I can image th

[2020-02-10 09:29] st-h commented on #351
I have been looking through ember-modifier a bit and it seems to me, that this would be much easier, if we kept the logic on a service (at least for the lookup stuff). ember-modifier supports DI, so there shouldn't be an issue. And we wouldn't have to deal with any unnecessary lookups or adding observers. I just asked on discord if ember-modifier should be supporting parent-child relationships, or

[2020-02-10 13:19] cah-briangantzler commented on #351
The mutationObserver when you used it took know parameters. How did it know to watch the root element and children? How did it know what the root element even was?

Technically, the component version registers itself with the parent, thats why those methods were there although it doesnt have to do the lookup, its normally only one parent away.

I specifically didnt use a service as that would be m

[2020-02-10 13:28] st-h commented on #351
This is the relevant code from the PR:
[code]

`this.element` is the root element.
`subtree: false` specifies to not watch any subtrees

Actually there is no need to configure it that specifically as `subtree: false` is the default, but I thought it would make it a little easier to understand. The [MDN page](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver/MutationObserver) is qui

[2020-02-10 17:56] st-h opened #356 "2.2.0: massive bundle size increase"
**Describe the bug**
The bundle size for `2.2.0-beta` almost doubles compared to `2.1.3`.

ember-cli-bundle-analyzer lists the following sizes added to vendor.js
`5.4kb` version `2.1.3`
`10.3kb` version `2.2.0-beta`

I think this is due to bundling the modifier version together with the non modifier version, even though both code paths are pretty much independent from each other.

For the `2.2.0`

[2020-02-10 21:28] chriskrycho commented on #356
Note that this—

—would definitely be a breaking change. That would require a 3.0. (Which is a good idea, just need to be clear about it!)

[2020-02-10 22:31] ygongdev commented on #356
This is expected as a tradeoff for supporting `modifier`. The goal is to keep `modifier` in `beta` until it's battled tested enough before we release ` 3.0.0` supporting only `modifier`.

`2.2.0-beta.*` is meant for battle testing both `non-modifier` and  `modifier`.
`3.0.0-beta` will be for battle testing `modifier-only`.

I'm open to any better ideas.

[2020-02-11 09:32] st-h commented on #356
@ygongdev Thanks a lot for the clarification. Sometimes there are good reasons one should not try to add beta releases to production apps. 😬
Is the non modifier version going to be dropped, or will that continue as 2.x when the modifier 3.x release is out?
Now that both versions don't share any code, we could also create a dedicated modifier repo/addon, which might make it easier to still maintain

[2020-02-11 09:50] st-h commented on #351
Is there any reason we would like to have a sortable release that just consists of modifiers?

If that is not a requirement, we could be doing things like this:
[code]
By making the group a component we could pass the actual group to our modifiers, which would solve the initialisation issues, as we now exactly know to which group a sortable-item belongs.

But we could also try to get that informat

[2020-02-11 15:10] cah-briangantzler commented on #351
The intent of the modifiers was to get rid of the component. Specifically I would like to use it with yeti-table. The group, would be the yeti-table, already a component. As a modifier I can decorate the yeti table component.

Also as a component I am forced to have another element. While ol/li might be the common use, it is not my intended use. The element would also have to be changed via tagNam

[2020-02-11 16:03] cah-briangantzler commented on #356
There was some discussion originally about making the modifier version a new addon and not a change to this one. It was eventually arrived at not a new addon.  It was discussed in the original PR. Maybe reading it might remind us why we didnt do that in the first place, or show us why not doing it was a bad decision :)

https://github.com/adopted-ember-addons/ember-sortable/pull/344#issuecomment-5

[2020-02-11 16:31] st-h commented on #351
yeah, I was thinking we could add that in a similar way as classNames, but that indeed seems to get complicated the more I think about it.

Absolutely. I am more concerned with doing too many unnecessary things during setup than having to add another element while coding.

However, I don't think we actually need to limit this to one approach.
- If one wants best performance and doesn't mind having

[2020-02-11 16:36] cah-briangantzler commented on #351
A hybrid approach wouldnt be difficult, just writing the documentation on why to use one or the other and whats the difference.

Any thought on the additional onChange action?

[2020-02-11 17:41] st-h commented on #351
I am having some troubles figuring out which `onChange` method, as your snippet does not include one. Can you please add some more details?

[2020-02-11 18:51] cah-briangantzler commented on #351
currently there is an onChange action whose params are (itemModels, draggedModel) ....   hmmm I didnt realize draggedModel was there. Ok, so what would be better would be to make the params (itemModels, draggedModel, newPos) to allow the user to ignore the itemModels and do the move themselves..    I briefly looked and not sure if newPos is even accessible, but thought it might be a nice add.

LOL

[2020-02-11 18:52] cah-briangantzler commented on #351
Did we arrive at attempting to create the new component for state? then if no component is used revert back to code as it is now?

[2020-02-11 19:01] ygongdev commented on #356
The direction I'm leaning toward is stop development on non-modifier, aka no more `2.x` releases and focus on `modifier`, aka `3.x` releases.

Here are some reasons why `2.x` still exists and why there's non-modifier and modifier currently bundled together is because not everyone has adopted `3.8` or using `modifiers`.

The release of `3.x` is also dependent on when we are able to flesh out all th

[2020-02-12 01:44] cah-briangantzler commented on #351
Ok I started writing this an immediately realized, Im just moving around code. There would be pretty much zero benefits. I dont think the current implementation performs that badly.

Here is the problem. The items are inserted in the DOM before the group. I think someone alluded to that the non async items wouldnt find the group. Yet all the tests pass. Thats because if you look in the PR, the ite

[2020-02-12 07:01] st-h commented on #351
@cah-briangantzler ah, sorry. My bad. I totally missed the schedule after render. And to make it worse, dealing with DOM elements and native js classes all the time, I totally forgot that there still is the ember run loop that we can also use from a modifier 🤦‍♂
Now it makes sense. There shouldn't be an issue if the actual initialisation is scheduled after render, since all items should have been

[2020-02-12 13:36] cah-briangantzler commented on #351
Does that mean you would like it left as in the PR and not give a property to control where the load is happening? Adding the extra props isnt a problem, and will give you a little finer control. Just let me know if you want me to adapt the PR or leave as is